{% extends "base.html" %}

{% block title %}
Pago Transferencia Bancaria
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <nav class="navbar navbar-light bg-light">
                
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 px-4">
            <h2 class="my-3">Pago Transferencia Bancaria</h2>
        </div>
    </div>
    <div class="row justify-content-center px-3">
        <div class="col-md-8 jumbotron text-center p-4">
            <p>La transferencia debe realizarse en la cuenta Cte. 
                Banco Galicia <br> Nº de cuenta: 10396-9076-5 <br>CBU: 0070076420000010396951 
                <br> CUIT: 30-68537634-9 <br> A nombre de Tarjeta Naranja S.A.-
                Una vez realizado el depósito o la transferencia se debe enviar por mail 
                una copia del comprobante a huergoadrian@lozadaechenique.com.ar o al 
                whatsapp {{ data }} a los fines de acreditar el pago.</p>
            <p class="bold">EL PAGO NO SE IMPUTARÁ EN SU CUENTA HASTA TANTO ENVÍE E INFORME 
                EL CORRESPONDIENTE COMPROBANTE DE TRANSFERENCIA.</p>
                <a role="button" class="btn btn-primary" href="{{url_for('main.user_data')}}">Volver</a>

        </div>
    </div>
</div>

<a id="newTabLink" href="{{url_for('main.get_created_refinancing')}}" target="_blank"></a>
<script>
    var a = document.getElementById("newTabLink");
    a.click();
</script>

{% endblock %}