{% extends "base.html" %}

{% block title %}
Datos del cliente
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <a href="{{url_for('main.logout')}}" class="btn btn-outline-secondary" role="button">Cerrar sesión</a>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 px-4">
            <h2 class="my-3">Datos del cliente</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div style="background-color: cornsilk;">
                <div class="row justify-content-center ml-2 my-2">
                    <div class="col-md-6 font-weight-bold">
                        Nombre y apellido
                    </div>
                    <div class="col-md-4">
                        {{data.cliente}}
                    </div>
                </div>
                <div class="row justify-content-center ml-2 my-2">
                    <div class="col-md-6 font-weight-bold">
                        Documento
                    </div>
                    <div class="col-md-4">
                        {{data.dni}}
                    </div>
                </div>
                <div class="row justify-content-center ml-2 my-2">
                    <div class="col-md-6 font-weight-bold">
                        Refinanciación
                    </div>
                    {% if data.estado_del_pp == 'Deuda cancelada' %}
                        <div class="col-md-4">DEUDA CANCELADA</div>
                    {% else %}
                        {% if data.alta_plan == '-' %}
                            <div class="col-md-4">SIN ACUERDO</div>
                        {% else %}
                            <div class="col-md-4">{{data.estado_del_pp}}</div>
                        {% endif %}
                    {% endif %}
                </div>
            </div>
            <hr>
            {% if data.estado_del_pp == 'Deuda cancelada' %}
                <div class="bg-light">
                    <div class="row justify-content-center px-3">
                        <div class="col-md-6 jumbotron text-center p-4">
                            <p class="lead">Usted ha cancelado su deuda, </br> obtenga aquí su libre deuda</p>
                            <a role="button" class="btn btn-primary" href="{{url_for('main.get_no_debt_certificate')}}">Obtener libre deuda</a>
            
                        </div>
                    </div>
                </div>
            {% else %}
                {% if data.alta_plan == '-' %}
                    <div class="bg-light">
                        <div class="row justify-content-center px-3">
                            <div class="col-md-12 jumbotron text-center p-4">
                                <p class="lead">Usted posee una deuda con Naranja de {{data.saldo_plan}}. </p>
                                <p>A los fines de llegar a un acuerdo y evitar la iniciación de las acciones legales,
                                    por favor comuniquese urgente al WhatsApp {{ contact_phone }}</p>
                            </div>
                        </div>
                    </div>
                {% else %}
                    <div class="bg-light">
                        <div class="row justify-content-center ml-2 my-2">
                            <div class="col-md-6 font-weight-bold">
                                Su deuda es de:
                            </div>
                            <div class="col-md-4">
                                {{data.saldo_plan}}
                            </div>
                        </div>
                        <div class="row justify-content-center ml-2 my-2">
                            <div class="col-md-6 font-weight-bold">
                                El estado del acuerdo es:
                            </div>
                            <div class="col-md-4">
                                {{data.estado_del_pp}}
                            </div>
                        </div>
                        <div class="row justify-content-center ml-2 my-2">
                            <div class="col-md-6 font-weight-bold">
                                El último pago registrado es de fecha:
                            </div>
                            <div class="col-md-4">
                                {{data.ultimo_pago|format_date}}
                            </div>
                        </div>
                        <div class="row justify-content-center ml-2 my-2">
                            <div class="col-md-6 font-weight-bold">
                                El acuerdo es de {{data.cuotas_orig_pp_activo}} cuota/s de las cuales ya tiene abonada/s:
                            </div>
                            <div class="col-md-4">
                                {{data.cuotas_pagadas_pp_activo}}
                            </div>
                        </div>
                        <div class="row justify-content-center ml-2 my-2">
                            <div class="col-md-6 font-weight-bold">
                                El vencimiento no abonado de fecha {{data.cuota_no_pagada|format_date}}, es por la suma de:
                            </div>
                            <div class="col-md-4">
                                {{data.saldo_cuota_aun_no_pago}}
                            </div>
                        </div>
                    </div>
                {% endif %}
            {% endif %}
        </div>
    </div>
</div>
{% if contact_phone %}
    <div id="draggable_container">
        <div id="whatsapp_logo" class="mr-2" style="max-width: 8em;">
            <div class="row justify-content-center">
                <div class="col text-center">
                <a id="contactLink" data-phone="{{ contact_phone }}" style="color: #007bff">
                    <img style="max-height: 6em;" src="{{url_for('static', filename='images/whatsapp_logo.png')}}" alt="whatsapp_logo">
                    <p class="small my-2">¿Consultas? Whatsapp al {{ contact_phone }} </p>
                </a>
                </div>
            </div>
        </div>
    </div>
{% endif %}
{% endblock %}
