<!DOCTYPE html>
<html lang="en" class="h-100">
  <head>
    <meta charset="utf-8">
    <title>Lozada Echenique &amp; Asociados /// Abogados</title>
    <meta content="width=device-width, initial-scale=1.0" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/pdf_styles.css') }}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/theme.min.css')}}">
    <link rel="stylesheet" href="{{url_for('static', filename='css/color-defaults.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-white.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-blue.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-gray.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-black.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-white-black.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-white-green.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-white-red.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='css/fonts.min.css')}}" media="screen">
    <link rel="stylesheet" href="{{url_for('static', filename='css/all.css')}}">
</head>
<body class="h-100 normal-header">
  <header class="header">
    <div class="header-images">
      <img src="{{url_for('static', filename='images/primer_encabezado.png')}}" class="header-image-line" alt="Responsive image">
      <img src="{{url_for('static', filename='images/segundo_encabezado.png')}}" class="header-image-logo" alt="Responsive image">
    </div>
  </header>
  <div class="container-fluid">
    <div class="row justify-content-start my-5">
      <div class="col-9 text-center">
        <div class="row my-5">
          <div class="col-md-12 text-muted text-right">
            <p>Córdoba, {{ today.day }} de {{ month_in_letters }} de {{ today.year }}</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left">
            <p class="bold my-0">Libre deuda</p class="my-0"><br>
            <p class="my-0">A quien corresponda</p class="my-0"><br>
            <p class="my-0">S________/________D</p><br>
            <!-- <p class="mt-0">De nuestra mayor consideración</p>
            <p class="bold">Ref.: Estado de deuda</p> -->
            <p>Por la presente, informamos que {{name}} (DU {{ dni }}) pagó la totalidad de su deuda con
              Tarjeta Naranja S.A.U el dia {{ today.day }}/{{ today.month }}/{{ today.year }}
              <br>
              <br>
              Enviamos esta constancia para ser presentada ante quien corresponda.
              <br>
              <br>
              Saludos,</p>
          </div>
        </div>
        <div class="row">
          <div class="col-md-12 text-left px-2 py-2">
            <p class="western" style="margin-top: 0.49cm; text-align:start">
              <img
                src="{{url_for('static', filename='images/firma_gerente_libre_deuda_2.png')}}"
                style="width: 20%; height: 20%;"
              />
            </p>
            <p>Alejandro Lazzuri</p>
            <p>Gerente de Mora</p>
          </div>
        </div>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
        <br>
      </div>
    </div>
  </div>
  <footer class="footer row mx-0 px-0">
    <div class="col-4 text-left text-muted">
      <p>0810-333-6272</p>
    </div>
    <div class="col-4 text-center">
      <p>|</p>
    </div>
    <div class="col-4 ml-2 text-muted text-right">
      <p>www.naranjax.com</p>
    </div>
  </footer>
</body>
</html>
