{% extends "base.html" %}

{% block title %}
Alta de acuerdo
{% endblock %}

{% block content %}
<style>
    input,
    input::-webkit-input-placeholder {
        font-size: 15px;
        line-height: 3;
    }
</style>
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <a href="{{url_for('main.user_data')}}" class="btn btn-outline-secondary" role="button">Datos del cliente</a>
                    {% if session['refinancing'] != 'CAIDA' %}
                    {% if not session['refinancing'] and session['total_deuda'] != '0,00' %}
                    <a href="{{url_for('main.new_payment')}}" class="btn btn-outline-secondary" role="button">Alta de acuerdo</a>
                    {% endif %}
                    <a href="{{url_for('main.payment_data')}}" class="btn btn-outline-secondary" role="button">Pagos realizados</a>
                    {% if session['refinancing'] %}
                    <a href="{{url_for('main.get_active_refinancing_data')}}" class="btn btn-outline-secondary" role="button">Refinanciaciones</a>
                    {% endif %}
                    <a href="{{url_for('main.logout')}}" class="btn btn-outline-secondary" role="button">Cerrar sesión</a>
                    {% endif %}
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 px-4">
            <h2 class="my-3">Alta de acuerdo
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-7">
            <div class="bg-light px-4">
                <div class="row justify-content-center my-2">
                    <div class="col-md-6 font-weight-bold">
                        Monto TOTAL de deuda
                    </div>
                    <div id="totalAmount" class="col-md-6">
                        {{ '$ ' + data.total_debt_raw}}
                    </div>
                </div>
                {% if discount_exist %}
                <div class="row justify-content-center my-2">
                    <div class="col-md-6 font-weight-bold">
                        Monto TOTAL a pagar con DESCUENTO
                    </div>
                    <div id="discountAmount" class="col-md-6">
                        {{ '$ ' + payment_amount}}
                    </div>
                </div>
                {% endif %}
                <div class="row justify-content-center my-2">
                    <div class="col-md-6 font-weight-bold">
                        Cantidad de cuotas
                    </div>
                    <div class="col-md-6">
                        <div class="row">
                            <div class="col-md-5">
                                <select id="inst_select" class="rounded" style="border: 1px solid lightgrey;">
                                    {% for element in range(1, max_installments_number + 1) %}
                                    <option value="{{ element }}" style="background-color: white;">{{ element }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                            <div class="col-md-7 pt-1">
                                <span id="instMessage" class="small font-italic align-middle" style="color: coral;">
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row justify-content-center my-2">
                    <div class="col-md-6 font-weight-bold">
                        Vencimiento de primer cuota
                    </div>
                    <div class="col-md-6">
                        <form id="meetingForm" class="form-horizontal">
                            <div class="form-group">
                                <div class="input-group date" id="datetimePicker">
                                    <input type='text' class="form-control" id='datePicker' min="{{ today }}" max="{{ expiring_date }}" placeholder='Seleccione fecha de primer vencimiento'>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <div class="row justify-content-center my-2">
                    <div class="col-md-6 font-weight-bold">
                        Forma de pago
                    </div>
                    <div class="col-md-6">
                        <div class="dropdown">
                            <a class="btn btn-primary btn-sm dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Seleccione método
                            </a>
                            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <a id="pagoFacilLink" class="dropdown-item" >Pago Fácil</a>
                                <a id="naranjaLink" class="dropdown-item" >Tarjeta Naranja</a>
                                <a id="transferLink" class="dropdown-item" >Transferencia Bancaria</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-6 px-5">
            <div class="row justify-content-center">
                <div class="col-md-12 jumbotron text-center p-4">
                    <p class="lead">Si desea mayor cantidad de cuotas o un descuento, comuníquese con nosotros al número {{ op_phone }}</p>    
                </div>
            </div>
        </div>
    </div>
</div>
{% if op_phone %}
<div id="draggable_container">
    <div id="whatsapp_logo" class="mr-2" style="max-width: 8em;">
        <div class="row justify-content-center">
            <div class="col text-center">
            <a id="contactLink" data-phone="{{ op_phone }}" style="color: #007bff">
                <img style="max-height: 6em;" src="{{url_for('static', filename='images/whatsapp_logo.png')}}" alt="whatsapp_logo">
                <p class="small my-2">¿Consultas? Whatsapp al {{ op_phone }} </p>
            </a>
            </div>
        </div>
    </div>
</div>
{% endif %}
{% endblock %}