{% extends "base.html" %}

{% block title %}
Pagos realizados
{% endblock %}

{% block content %}
<div class="container-fluid">
    <button id="modalButton" type="button" style="display: none;" data-toggle="modal" data-target="#exampleModal">
      </button>
    <div style="margin-top: 10em;" class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Recibos de pago</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                Haga click en la fecha para obtener el recibo correspondiente
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <a href="{{url_for('main.user_data')}}" class="btn btn-outline-secondary" role="button">Datos del cliente</a>
                    {% if not session['refinancing'] %}
                    <a href="{{url_for('main.new_payment')}}" class="btn btn-outline-secondary" role="button">Alta de acuerdo</a>
                    {% endif %}
                    <a href="{{url_for('main.payment_data')}}" class="btn btn-outline-secondary" role="button">Pagos realizados</a>
                    {% if session['refinancing'] %}
                    <a href="{{url_for('main.get_active_refinancing_data')}}" class="btn btn-outline-secondary" role="button">Refinanciaciones</a>
                    {% endif %}
                    <a href="{{url_for('main.logout')}}" class="btn btn-outline-secondary" role="button">Cerrar sesión</a>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 px-4">
            <h2 class="my-3">Pagos realizados</h2>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped small">
                    <thead>
                        <tr>
                            {% for subelement in data.table[1] %}
                            {% if (loop.index != 2) and (loop.index != 9) and (loop.index != 11) %}
                            <th class="text-center" scope="col">{{ subelement }}</th>
                            {% endif %}
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data.table %}
                        {% set outer_loop = loop %}
                        {% if outer_loop.index > 2 %}
                        <tr>
                            {% for subelement in element %}
                                {% set index = outer_loop.index - 2 %}
                                {% if loop.index == 1 %}
                                    <th class="text-center" scope="row">
                                        <a href="{{url_for('main.get_payment_detail', payment_date=data.payment_date[index - 1])}}">{{ subelement }}</a>
                                    </th>
                                {% else %}
                                    {% if (loop.index != 2) and (loop.index != 9) and (loop.index != 11) %}
                                        {% if loop.index >= 3 and loop.index <= 7 %}
                                        <td class="text-center">{{'$ ' + subelement }}</td>
                                        {% else %}
                                        <td class="text-center">{{ subelement }}</td>
                                        {% endif %}
                                    {% endif %}
                                {% endif %}
                            {% endfor %}
                        </tr>
                        {% endif %}
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<script>
    window.onload = function(){
        var modalButton = document.getElementById("modalButton");
        modalButton.click();
    }
</script>
{% endblock %}