{% extends "base.html" %}

{% block title %}
Detalle de pago
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <a href="{{url_for('main.user_data')}}" class="btn btn-outline-secondary" role="button">Datos del cliente</a>
                    {% if not session['refinancing'] %}
                    <a href="{{url_for('main.new_payment')}}" class="btn btn-outline-secondary" role="button">Alta de acuerdo</a>
                    {% endif %}
                    <a href="{{url_for('main.payment_data')}}" class="btn btn-outline-secondary" role="button">Pagos realizados</a>
                    {% if session['refinancing'] %}
                    <a href="{{url_for('main.get_active_refinancing_data')}}" class="btn btn-outline-secondary" role="button">Refinanciaciones</a>
                    {% endif %}
                    <a href="{{url_for('main.logout')}}" class="btn btn-outline-secondary" role="button">Cerrar sesión</a>
                </form>
            </nav>
        </div>
        </div>
        <div class="row">
            <div class="col-md-12 px-4">
            <h2 class="my-3">Detalle de pago</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="col-md-7 px-5">
            <dl class="row small justify-content-center" style="background-color: lightgray;">
                
                    <dt class="col-sm-6">Fecha Pago</dt>
                    <dd class="col-sm-3">{{data.formatted_payment_date}}</dd>
                
                    <dt class="col-sm-6">Estado</dt>
                    <dd class="col-sm-3">{{data.status}}</dd>
                
                    <dt class="col-sm-6">Fecha Arqueo</dt>
                    <dd class="col-sm-3">{{data.arqueo_date}}</dd>
                
                    <dt class="col-sm-6 text-truncate">Nro. Recibo</dt>
                    <dd class="col-sm-3">{{data.receipt_number}}</dd>
                
                    <dt class="col-sm-6">Tipo de pago</dt>
                    <dd class="col-sm-3">{{data.payment_type}}</dd>

                    <dt class="col-sm-6">Monto en pesos </dt>
                    <dd class="col-sm-3">{{data.amount}}</dd>

                    <dt class="col-sm-6">Capital</dt>
                    <dd class="col-sm-3">{{data.capital}}</dd>

                    <dt class="col-sm-6">Int. Financ. y Gastos Emp.</dt>
                    <dd class="col-sm-3">{{data.finance_interest}}</dd>

                    <dt class="col-sm-6">Gastos abogado</dt>
                    <dd class="col-sm-3">{{data.lawyer_cost}}</dd>

                    <dt class="col-sm-6">Int. Punitorios</dt>
                    <dd class="col-sm-3">{{data.punit_interest}}</dd>

                    <dt class="col-sm-6">IVA Intereses</dt>
                    <dd class="col-sm-3">{{data.iva_interest}}</dd>

                    <dt class="col-sm-6">Honorarios</dt>
                    <dd class="col-sm-3">{{data.fees}}</dd>

                    <dt class="col-sm-6">IVA Honorarios</dt>
                    <dd class="col-sm-3">{{data.fee_taxes}}</dd>

                    <dt class="col-sm-6">Impuesto Sellos</dt>
                    <dd class="col-sm-3">{{data.seals_taxes}}</dd>

                    <dt class="col-sm-6">Total</dt>
                    <dd class="col-sm-3 text-danger">{{'$ '+data.total}}</dd>
            </dl>
        </div>  
    </div>
    <div class="row justify-content-center">
        <div class="col-md-7 text-center">
            <a role="button" class="btn btn-primary my-3" href="{{url_for('main.get_receipt', payment_date=data.payment_date)}}" target="_blank">Emisión de recibo</a>
        </div>
    </div>
</div>
{% endblock %}