{% extends "base.html" %}

{% block title %}
Ver refinanciación
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 px-4">
            <h2 class="my-3">Refinanciación propuesta</h2>
        </div>
    </div>
    <div class="row justify-content-center">
        <div class="table-responsive">
            <table class="table table-striped table-hover table-sm">
                <thead>
                    <tr>
                        {% for item in data.titles_list %}
                        {% if loop.index0 != 7 %}
                        <th scope="col" class="text-center">{{ item }}</th> 
                        {% endif %}
                        {% endfor %}
                    </tr>
                </thead>
                <tbody>
                    {% for item in data.values_list %}
                    <tr>
                        {% for sub_item in item %}
                        {% if loop.index0 != 7 %}
                        {% if loop.index0 > 1 %}
                        {% if loop.index0 == 4 %}
                        <td class="text-center">
                            {{'$ ' + sub_item |replace('-', '')}}
                        </td>
                        {% else %}
                        <td class="text-center">
                            {{'$ ' + sub_item}}
                        </td>
                        {% endif %}
                        {% else %}
                        <td class="text-center">
                            {{sub_item}}
                        </td>
                        {% endif %}
                        {% endif %}
                    {% endfor %}
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
    <div class="row justify-content-center px-3">
        <div class="col-md-6 text-center p-4">
            <button type="button" class="btn btn-primary mx-2" onclick="displayAlert()">Actualizar</button>
            <a role="button" class="btn btn-primary mx-2" href="{{url_for('main.user_data')}}">Cancelar</a>
        </div>
    </div>
</div>
<script>
    function displayAlert(){
        if (confirm('Usted va a emitir un nuevo acuerdo de refinanciación de su deuda. ¿Está seguro?')){
            window.location.href = "{{url_for('main.update_refinancing', payment_type=payment_type)}}"
        }
    }
</script>
{% if op_phone %}
<div id="whatsapp_logo" class="mr-2" style="max-width: 8em;">
  <div class="row justify-content-center">
    <div class="col text-center">
      <a id="contactLink" data-phone="{{ op_phone }}" style="color: #007bff">
        <img style="max-height: 6em;" src="{{url_for('static', filename='images/whatsapp_logo.png')}}" alt="whatsapp_logo">
        <p class="small my-2">¿Consultas? Whatsapp al {{ op_phone }} </p>
      </a>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}