{% extends "base.html" %}

{% block title %}
Refinanciaciones
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <nav class="navbar navbar-light bg-light">
                <form class="form-inline">
                    <a href="{{url_for('main.user_data')}}" class="btn btn-outline-secondary" role="button">Datos del cliente</a>
                    {% if not session['refinancing'] %}
                    <a href="{{url_for('main.new_payment')}}" class="btn btn-outline-secondary" role="button">Alta de acuerdo</a>
                    {% endif %}
                    <a href="{{url_for('main.payment_data')}}" class="btn btn-outline-secondary" role="button">Pagos realizados</a>
                    {% if session['refinancing'] %}
                    <a href="{{url_for('main.get_active_refinancing_data')}}" class="btn btn-outline-secondary" role="button">Refinanciaciones</a>
                    {% endif %}
                    <a href="{{url_for('main.logout')}}" class="btn btn-outline-secondary" role="button">Cerrar sesión</a>
                </form>
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 px-4">
            <h2 class="my-3">Refinanciaciones</h2>
        </div>
    </div>
    <div class="row my-2 justify-content-center">
        <div class="col-md-12">
            <div class="table-responsive">
                <table class="table table-striped small">
                    <thead>
                        <tr>
                            {% for element in data.basic_table_titles %}
                            <th class="text-center" scope="col">{{ element }}</th>
                            {% endfor %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for element in data.basic_table_values %}
                        <tr>
                            {% for subelement in element %}
                            {% if loop.index0 == 1 or loop.index0 == 2 or loop.index0 == 4 %}
                            <td class="text-center">{{'$ ' + subelement }}</td>
                            {% else %}
                            <td class="text-center">{{ subelement }}</td>
                            {% endif %}
                            {% endfor %}
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <p>
        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false" aria-controls="collapseExample">
            Estado actualizado del plan
        </button>
        <a role="button" class="btn btn-primary my-3 mx-1" href="{{url_for('main.get_refinancing_receipt')}}" target="_blank">Emisión de comprobante de refinanciación</a>
        {% if session['refinancing'] and delete_refinancing %}
        <button type="button" class="btn btn-primary" onclick="confirmDelete()" target="_blank">Anular última refinanciación</button>
        {% endif %}
    </p>
    <div class="collapse" id="collapseExample">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-12">
                    <div class="table-responsive">
                        <table class="table table-striped small">
                            <thead>
                                <tr>
                                    {% for element in data.deep_table_titles %}
                                    <th class="text-center" scope="col">{{ element }}</th>
                                    {% endfor %}
                                </tr>
                            </thead>
                            <tbody>
                                {% for element in data.deep_table_values %}
                                <tr>
                                    {% for subelement in element %}
                                    {% if loop.index0 >= 2 and loop.index0 <= 6 %}
                                    <td class="text-center">{{'$ ' + subelement }}</td>
                                    {% else %}
                                    <td class="text-center">{{ subelement }}</td>
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% if op_phone %}
<div id="draggable_container">
  <div id="whatsapp_logo" class="mr-2" style="max-width: 8em;">
    <div class="row justify-content-center">
      <div class="col text-center">
        <a id="contactLink" data-phone="{{ op_phone }}" style="color: #007bff">
          <img style="max-height: 6em;" src="{{url_for('static', filename='images/whatsapp_logo.png')}}" alt="whatsapp_logo">
          <p class="small my-2">¿Consultas? Whatsapp al {{ op_phone }} </p>
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}
<script>
    function confirmDelete(){
        if (confirm('Usted va a anular la última refinanciación de su deuda. ¿Está seguro?')){
            window.location.href = "{{url_for('main.delete_refinancing')}}"
        }
    }
</script>
{% endblock %}