{% extends "base.html" %}

{% block title %}
Pago Tarjeta Naranja
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-center">
        <div class="col-md-12 p-0">
            <nav class="navbar navbar-light bg-light">
                
            </nav>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 px-4">
            <h2 class="my-3">Pago Tarjeta Naranja</h2>
        </div>
    </div>
    <div class="row justify-content-center px-3">
        <div class="col-md-6 jumbotron text-center p-4">
            <p>Por favor revise los comprobantes de pago ubicados al fondo del documento que acaba de emitir. 
                Diríjase con estos comprobantes a cualquier sucursal de Tarjeta Naranja.</p>
                <a role="button" class="btn btn-primary" href="{{url_for('main.user_data')}}">Volver</a>
        </div>
    </div>
</div>

<a id="newTabLink" href="{{url_for('main.get_created_refinancing')}}" target="_blank"></a>
<script>
    var a = document.getElementById("newTabLink");
    a.click();
</script>

{% endblock %}