.tables-2{
    background-color: #FBFBFB;
}

#cont.table-responsive {
    overflow-x: hidden !important;
}
.tables-2 h4{
    font-size: 15px;
    font-weight: bold !important;
    font-family: 'Source Sans Pro' !important;
}

.tables-2 h2{
    font-size: 21px !important;
    font-family: 'Source Sans Pro' !important;
}

.celdas p{
    font-family: 'Source Sans Pro' !important;
    font-size: 14px;
    font-weight: normal !important;
    margin: 0 !important;
}

.borde-azul{
    border: 3px solid #006496;
}

.celeste{
    color: #0A6F73;
}

.azul{
    color: #006496;
}

.gris{
    color: #515151;
}

.bg-celeste{
    background-color: #0A6F73;
}

.bg-gris{
    background-color: #F6F6F6;
}

.gris-oscuro{
    color: #404040;
}

.btn-info-1 {
    color: #fff;
    background-color: #0A6F73;
    border-color: #0A6F73;
}

.border-r-0{border-radius: 0px;}

.border-b-1{border-bottom: 1px solid;}

.bg-celeste{
    background-color: #0A6F73;
}

.bg-gris{
    background-color: #F6F6F6;
}

.separador-linea{
    padding-bottom: 0.2em !important;
    border-bottom: 2px solid #0A6F73 !important;
}

.divisor{
    border: 2px solid #0A6F73;
}

.encabezado{
    padding: 0 !important;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 29px;
    color: #006496;
    border-bottom: 2px solid #0A6F73;
}

.encabezado p{
    margin: 0 !important;
}

.encuadro{
    border: 2px solid #006496;
    position: relative;
}

.icono{
    background-color: #0A6F73;
    width: 30px;
}

.inner-wrapper{
    padding: 1em;
}

.boton-guardar{
    background-color: #0A6F73;
    border-radius: 4px;
    border: none !important;
    font-family: 'Source Sans Pro';
    font-weight: bold;
    font-size: 15px;
    padding: 1.1rem 1.5rem !important;
}

.boton-guardar:hover, .boton-guardar:active, .boton-guardar:visited, .boton-guardar:focus {
    color: #fff;
    background-color: #09676b !important;
    border: none !important;
    box-shadow: none !important;
}

.form-control.search{background:#F2F2F2;border-radius: 0px;border: 0px;}
.table thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    border-right: 2px solid white;
    background: #0A6F73;
    color: white;
}

.page-item.active .page-link {
    z-index: 1;
    color: #fff;
    background-color: #0a6f73;
    border-color: #0a6f73;
}
.next .page-link {
    color: #0A6F73;
}
.table-bordered td, .table-bordered th {
    border: 1px solid #0a6f73;
}

/* -----------------Colores de prioridades---------------------- */
.rojo{background: #E15151;border-color: #E15151!important;color: white;}
.naranja{background: #EE8230;border-color: #EE8230!important;color: white;}
.verde-fuerte{background: #6AD5D9;border-color: #6AD5D9!important;color: white;}
.verde-claro{background: #30A1A6;border-color: #30A1A6!important;color: white;}
.verde{background: #1B888C;border-color: #1B888C!important;color: white;}
.verde-oscuro{background: #0A6F73;border-color: #0A6F73!important;color: white;}

@media (min-width: 1200px){
.container {
    max-width: 1600px;
}
}

@media (max-width: 1024px){
    .celdas {
        padding-top: 1em;
        padding-bottom: 1em;
    }
}

@media (max-width: 1366px) and (min-width: 768px){
    div#cont {
        padding: 1em;
    }
    .tables-2 h4 {
        font-size: 14px;
    }
}

.search-button > * {
    pointer-events: none;
  }