@import 'bootstrap.min.css';

body { font: 0.9em Arial, Helvetica, sans-serif }
nav { font-size: .3em }

@page { size: Letter;
    margin: 0in 0.44in 0.2in 0.44in;
}
@media print {
    nav { display: none }
}

.pdf-image{
    max-width: 22px;
    max-height: 24px;
}

.footer {
    margin-left: 0;
    margin-right: 0;
    height: 70px;
    background-color: #e0e0e0;
    /* color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
  }

  /* Sticky header */
.header {
    position: fixed;
    margin-right: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100px; /* Adjust as needed */
    /* background-color: #333;
    color: #fff; */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 1000; /* Ensures it stays above other content */
  }

  /* Container for stacked images */
.header-images {
    display: flex;
    flex-direction: column; /* Stacks images vertically */
    align-items: center;
    margin-right: 20px; /* Space between images and header text */
  }
  
  /* Styling for header images */
  .header-image-line {
    width: 700px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 5px; /* Space between the two images */
  }

  .header-image-logo {
    width: 110px; /* Adjust width as needed */
    height: auto; /* Maintains aspect ratio */
    margin-bottom: 5px; /* Space between the two images */
  }