{% extends "base.html" %}

{% block title %}
Search Wizard
{% endblock %}

{% block content %}
<div class="row justify-content-center text-center my-5">
    <div class="col-md-12">
        <h1>Página no encontrada</h1>
        <p>Lo sentimos, la página a la que intenta acceder no existe.</p>
    </div>
</div>
{% endblock %}
