{% extends "base.html" %}

{% block title %}
Search Wizard
{% endblock %}

{% block content %}
<div class="row justify-content-center text-center my-5">
    <div class="col-md-12">
        <h1>500 Error</h1>
        <h2>Ocurrió un error inesperado en la página, por favor intenta de nuevo.</h2>
    </div>
</div>
{% endblock %}
