{% extends "base.html" %}
{% block content %}
<article>
    <section class="section swatch-black section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url('static/images/abogados/top_abo.jpg'); background-repeat: no-repeat; background-size:cover; background-attachment: fixed; background-position: 50% 0%;" data-start="background-position:"
        data-70-top-bottom="background-position:">
        </div>
        <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="text-center element-tall-top element-tall-bottom condensed">
                        <h1 class="super hairline bordered-normal">
        Abogados
    </h1>
                    </header>
                </div>
            </div>
        </div>
    </section>
    <section id="two" class="section swatch-white-green">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="text-center element-normal-top element-no-bottom not-condensed os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                        <h1 class="bigger hairline bordered bordered-normal">
        Socios
    </h1>
                    </header>
                    <div class="row staff-list-container list-container element-short-top element-normal-bottom">
                        <div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
                            <div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
                                <a href="#" class="figure-image" data-links="" target="_blank">
                                    <img src="static/images/abogados/marcelo.jpg" alt="Marcelo Lozada" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-20">
                                        <div class="figure-overlay-container">
                                            
                                        </div>
                                    </div>
                                </a>
                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title bordered bordered-small ">
    <strong>Dr. LOZADA, Marcelo</strong> 
                        
</h3>
                                    <p class="figure-caption-description">&nbsp;</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".2s">
                            <div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
                                <a href="#" class="figure-image" data-links="" target="_blank">
                                <img src="static/images/abogados/gustavo.jpg" alt="Laucirica, Gustavo Daniel" class="normalwidth"></a>
                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title bordered bordered-small ">
    <strong>Dr. LAUCIRICA, Gustavo Daniel</strong> 
                    
</h3>
                                    <p class="figure-caption-description">&nbsp;</p>
                                </div>
                            </div>
                            
                        </div>
                        <div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".3s">
                            <div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
                                <a href="#" class="figure-image" data-links="" target="_blank">
                                <img src="static/images/abogados/matias.jpg" alt="Matias Lozada" class="normalwidth"></a>
                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title bordered bordered-small ">
    <strong>Dr. LOZADA, Matías</strong> 
                        
</h3>
                                    <p class="figure-caption-description">&nbsp;</p>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
    
    
    <section id="two" class="section swatch-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="text-center element-normal-top element-no-bottom not-condensed os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                        <h1 class="bigger hairline bordered bordered-normal">
        Asociados
    </h1>
                    </header>
                    <div class="row staff-list-container list-container element-short-top element-normal-bottom">
                        <div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
                            <div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
                                <a href="#" class="figure-image" data-links="" target="_blank">
                                    <img src="static/images/abogados/clyde.jpg" alt="Clyde Herreros" class="normalwidth">
                                    <div class="figure-overlay grid-overlay-20">
                                        <div class="figure-overlay-container">
                                            
                                        </div>
                                    </div>
                                </a>
                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title bordered bordered-small ">
    <strong>Dra. HERREROS, Clyde</strong> 
                        
</h3>
                                    <p class="figure-caption-description">&nbsp;</p>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
                            <div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
                                <a href="#" class="figure-image" data-links="" target="_blank">
                                <img src="static/images/abogados/team7.jpg" alt="Marcelo Lozada" class="normalwidth"></a>
                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title bordered bordered-small ">
    <strong>Dra. ABARCA Candelaria</strong></h3>
                                    <p class="figure-caption-description">&nbsp;</p>
                                </div>
                            </div>
                            
                        </div>
                        
                        <div class="col-md-4 staff-os-animation" data-os-animation="fadeIn" data-os-animation-delay=".1s">
                            <div class="figure fade-in element-no-top element-no-bottom image-filter-grayscale image-filter-onhover text-center figcaption-middle" data-os-animation="fadeIn" data-os-animation-delay=".0s">
                                <a href="#" class="figure-image" data-links="" target="_blank">
                                <img src="static/images/abogados/asoc2.2.1.jpeg" alt="Marcelo Lozada" class="normalwidth"></a>
                                <div class="figure-caption text-center">
                                    <h3 class="figure-caption-title bordered bordered-small ">
    <strong>Dr. HUERGO Gustavo Adrian</strong> 
                        
</h3>
                                    <p class="figure-caption-description">&nbsp;</p>
                                </div>
                            </div>
                            
                        </div>
                        
                        
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% endblock %}