{% extends "base.html" %}
{% block content %}
<article>
    <section class="section swatch-black section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url('static/images/top_est.jpg'); background-repeat: no-repeat; background-size:cover; background-attachment: fixed; background-position: 50% 0%;" data-start="background-position:"
        data-70-top-bottom="background-position:">
        </div>
        <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="text-center element-tall-top element-tall-bottom condensed">
                        <h1 class="super hairline bordered-normal">
        El Estudio
    </h1>
                    </header>
                </div>
            </div>
        </div>
    </section>
    <section id="two" class="section swatch-white">
        <div class="container">
            
            <div class="row">
                <div class="col-md-12">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                        <div class="wpb_wrapper">
                        
                            <h2 class="bordered2 bold">Antecedentes</h2>
                            <p>El Estudio Jurídico Lozada Echenique se remonta en sus inicios en 1938, cuando se unieron el Dr. Pablo Telésforo Lozada Echenique y  el Dr. Julio Torres (Senador Provincial durante muchos años y luego Gobernador de la Provincia de Córdoba año 1936). A partir del año  1950, comenzaron a trabajar en el Estudio los Dres. Pablo, Alfredo  Telésforo y Marcelo Lozada Echenique, quienes ejercieron activamente la profesión de abogados. Transcurridos muchos años, durante los cuales los hermanos “Lozada Echenique”  y otros abogados asociados de renombre, posicionaron al Buffet, como uno de los más importantes del interior del país. Con el correr de los años Alfredo asumió como intendente de la Ciudad de Córdoba y luego de ello se radicó en Capital Federal. Su hermano Pablo, continuó con su vida laboral en Francia, quedando el Estudio Jurídico a cargo de Marcelo Lozada Echenique y sus colaboradores.-</p>
<p>Ya entre los años 80 y 90,  bajo la conducción de Marcelo, sus hijos Marcelo (h), Pablo José y Matías fueron incorporándose activamente al estudio y han sido los continuadores, junto a su padre,  del emprendimiento iniciado a comienzos de la década del 30.-</p>
<p>En todo momento, el Estudio Jurídico Lozada Echenique contó con la colaboración de numerosos abogados prestigiosos y muy calificados en el fuero.-</p>
<p>En la actualidad, “Lozada Echenique & Asociados” continúa brindando asesoramiento jurídico en las distintas ramas del derecho, con el mismo grado de compromiso y seriedad que alguna vez asumieron sus fundadores y sin duda, una destacada parte de la historia judicial de Córdoba, ha quedado reseñada en sus archivos.-</p>
                            <hr>
                            
                        </div>
                    </div>
                    
                </div>
            </div>
            
            <div class="row">
                <div class="col-md-6">
                    <div class="element-no-top element-no-bottom os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                        <div class="figure  element-no-top element-no-bottom image-filter-none image-filter-onhover fade-in text-center figcaption-top normalwidth">
                            
                                <img src="static/images/lozadae.jpg" alt="Dr. Lozada Echenique" class="normalwidth">
                            
                        </div>
                    </div>
                </div>
                <div class="col-md-6 element-tall-top">
                    <header class="element-short-top element-short-bottom not-condensed">
                        <h1 class="bigger hairline bordered bordered-normal os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.2s">
        Dr. Pablo Telesforo Lozada Echenique
    </h1>
                        <p class="lead element-short-top element-short-bottom os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.4s">
                                Miembro Fundador
                        </p>
                    </header>
                </div>
                
                <div class="col-md-12 text-center">
                    <header class="text-center  element-normal-top element-short-bottom condensed os-animation" data-os-animation="fadeIn" data-os-animation-delay="0s">
                        
                    </header>
                    <a href="{{url_for('main.abogados')}}" class="btn btn-link btn-lg element-no-top element-no-bottom" target="_self" data-os-animation="none" data-os-animation-delay="0s ">
    Abogados del Estudios
</a>
                </div>
            </div>
                <hr>
        </div>
    </section>
</article>
{% endblock %}
