{% extends "base.html" %}
{% block content %}
<article>
    <section class="section swatch-blue section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url('static/images/top_clientes.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 0%;" data-start="background-position:"
        data-70-top-bottom="background-position:">
        </div>
        <div class="background-overlay grid-overlay-20 " style="background-color: rgba(0,0,0,0.4);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="text-center  element-normal-top element-normal-bottom not-condensed">
                        <h1 class="super hairline bordered bordered-normal">
        Áreas Prácticas
    </h1>
                        <p class="lead">Servicios</p>
                    </header>
                </div>
            </div>
        </div>
    </section>
    <section id="two" class="section swatch-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="element-normal-top element-short-bottom">
                        
                    </header>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <div class="accordion" id="accordionExample">
                    <div id="accordion_690" class="panel-group element-short-top element-short-bottom os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0s">
                        <div class="panel panel-success">
                            <div class="panel-heading" id="headingOne">
                                <a href="#group_616" class="accordion-toggle collapsed" data-target="#group_616" data-toggle="collapse" aria-expanded="true" aria-controls="group_616">
                                    Ámbito profesional
                                </a>
                            </div>
                            <div id="group_616" class="panel-collapse collapse show" aria-labelledby="headingOne" data-parent="#accordionExample">
                                <div class="panel-body">
                                    <div class="element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                        <p>
                                            El “Estudio Jurídico Lozada Echenique & Asociados” , tiene como su principal objetivo brindar a sus clientes un asesoramiento legal completo y una actuación profesional de alta calidad, de la manera más ágil y eficiente posible, protegiéndoles así sus intereses. Además de ello, tiene la firme convicción que la capacitación permanente de sus profesionales y de los grupos de trabajo,  es el camino adecuado para mejorar la calidad del asesoramiento y crecer día a día. </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading" id="headingTwo">
                                <a href="#group_502" class="accordion-toggle collapsed" data-target="#group_502" data-toggle="collapse" aria-expanded="true" aria-controls="group_502">
                                    Derecho Societario
                                </a>
                            </div>
                            <div id="group_502" class="panel-collapse collapse" aria-labelledby="headingTwo" data-parent="#accordionExample">
                                <div class="panel-body">
                                    <div class="element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                        <p>
                                            Lozada Echenique & Asociados, tiene profesionales capacitados en planeamiento y organización societaria de la moderna empresa. Asimismo realiza asesoramientos para la preparación y puesta en funcionamiento de emprendimientos empresarios, como así también en Fusiones y Adquisiciones, con sus respectivas auditorias legales. El Estudio cuenta con un grupo de trabajo dedicado  al asesoramiento y actuación profesional en conflictos societarios. Además de ello,  realiza todo tipo de gestiones y trámites en Inspección de Sociedades Jurídicas y en el Registro Público de Comercio.- En la actualidad presta constante asesoramiento societario a empresas destacadas a nivel nacional y local.-

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading" id="headingThree">
                                <a href="#group_155" class="accordion-toggle collapsed" data-target="#group_155" data-toggle="collapse" aria-expanded="true" aria-controls="group_155">
                                    Derecho Laboral
                                </a>
                            </div>
                            <div id="group_155" class="panel-collapse collapse" aria-labelledby="headingThree" data-parent="#accordionExample">
                                <div class="panel-body">
                                    <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                        <p>Los integrantes del Estudio Jurídico tienen una activa y nutrida participación en esta especialidad del derecho. Su desempeño profesional en esta rama, abarca la asistencia legal en Política Laboral Empresaria, con el compromiso de la prevención y aprovechamiento de los recursos humanos. Asimismo asesora en conflictos colectivos, participando activamente en la confección, redacción y discusión (paritarias) de Convenciones Colectivas. Además de ello asesora y confecciona contratos laborales, incluidos los de personal jerárquico.- 
Lozada Echenique & Asociados presta asistencia y patrocino letrado en gestiones laborales de todo tipo, como por ejemplo atención de juicios laborales, actuación en reclamos en sede administrativa (individuales y colectivos), planificación y reestructuración del personal, presta asesoramiento y participa activamente en procedimientos de crisis. Pero el principal objetivo de los abogados del plantel, es el de instrumentar políticas laborales preventivas.-


                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-success">
                            <div class="panel-heading" id="headingFour">
                                <a href="#group_129" class="accordion-toggle collapsed" data-target="#group_129" data-toggle="collapse" aria-expanded="true" aria-controls="group_129">
                                    Derecho Civil
                                </a>
                            </div>
                            <div id="group_129" class="panel-collapse collapse" aria-labelledby="headingFour" data-parent="#accordionExample">
                                <div class="panel-body">
                                    <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                        <p>
                                            El Estudio ha incorporado y capacitado a Abogados para asesorar a sus clientes en la confección de contratos de todo tipo, especialmente en el último tiempo han trabajado en la realización de contratos de fideicomisos inmobiliarios. Además de ello, brinda asesoramiento y evacua consultas diarias a los afiliados de la Cámara de Comercio de la Provincia de Córdoba, en la redacción de contratos de compra venta, de locación, de comodato, de leasing, de distribución, de edición, de emprendimientos industriales llave en mano entre otros. Participa también en la negociación y confección de contratos de Uniones Transitorias de Empresas (U.T.E.) y Agrupaciones de Colaboración Empresaria (A.C.E.).

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        <div class="panel panel-success">
                            <div class="panel-heading" id="headingFive">
                                <a href="#group_480" class="accordion-toggle collapsed" data-target="#group_480" data-toggle="collapse" aria-expanded="true" aria-controls="group_480">
                                    Asesoramiento Empresario
                                </a>
                            </div>
                            <div id="group_480" class="panel-collapse collapse" aria-labelledby="headingFive" data-parent="#accordionExample">
                                <div class="panel-body">
                                    <div class=" element-no-top element-no-bottom" data-os-animation="none" data-os-animation-delay="0s">
                                        <p>
                                            Como consecuencia de las especialidades del derecho en las cuales se han capacitado y adquirido práctica los socios e integrantes del Estudio, se ha logrado un perfil de abogados preparados para   el asesoramiento a empresas y emprendedores, en temas legales de actualidad. El equipo se integra con abogados especialistas en Derecho Civil y Comercial, Laboral y Seguridad Social, Societario y en lo relativo a Aseguradoras de Riesgos del Trabajo (ART).- Además de ello, el Estudio representa a empresas en  reclamos que se deducen por ante la Dirección Provincial de Defensa al Consumidor y Protección a la Competencia.-  

                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
                
                
            </div>
        </div>
    </section>

</article>
     {% endblock %}