<!DOCTYPE html>
<html lang="en" class="h-100">
    <head>
        <meta charset="utf-8">
        <title>Lozada Echenique &amp; Asociados /// Abogados</title>
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <meta content="yes" name="apple-mobile-web-app-capable">
        <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,300italic,400italic,600italic' rel='stylesheet' type='text/css'>
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
        <link rel="stylesheet" href="{{url_for('static', filename='css/theme.min.css')}}">
        <link rel="stylesheet" href="{{url_for('static', filename='css/color-defaults.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-white.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-blue.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-gray.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-black.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-white-black.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-white-green.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/swatch-white-red.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/fonts.min.css')}}" media="screen">
        <link rel="stylesheet" href="{{url_for('static', filename='css/all.css')}}">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/css/bootstrap-datepicker.min.css"/>
        <link rel="stylesheet" href="{{url_for('static', filename='css/jquery.datatables.min.css')}}"/>
        <link rel="stylesheet" href="{{url_for('static', filename='css/info_cliente.css')}}">
    </head>
    <style>
    </style>
    <body class="h-100 normal-header">
    <div style="position: relative; min-height: 100vh;">
        <nav id="masthead" class="navbar sticky-top navbar-sticky navbar-expand-lg navbar-light px-5" role="banner" style="background-color: #FFFF; font-family:Arial, Helvetica, sans-serif">
            <a class="navbar-brand" href="{{url_for('main.index')}}">
                <img class="img-fluid" src="{{url_for('static', filename='images/le.png')}}" alt="Lozada Echenique y Asociados">
            </a>
            <button type="button" style="background-color: white!important" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                        <a class="nav-link rounded" style="background-color: darkgray; color: white;" href="{{url_for('main.login')}}">Autogestión de deudas</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('main.index')}}">Home</a>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: rgba(0,0,0,.9);" href="#" class="nav-link" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            El Estudio
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                            <a class="dropdown-item" href="{{url_for('main.antecedentes')}}">Antecedentes
                            </a>
                            <a class="dropdown-item" href="{{url_for('main.clientes')}}">Clientes                
                            </a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('main.abogados')}}">
                            Abogados
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a style="color: rgba(0,0,0,.9);" href="#" class="nav-link" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Servicios
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdown1">
                            <a class="dropdown-item" href="{{url_for('main.areas_practicas')}}">
                                Áreas Prácticas             
                            </a>
                            <a class="dropdown-item" href="{{url_for('main.cobranzas')}}">
                                Departamento de Cobranzas                
                            </a>
                        </div>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" href="{{url_for('main.contacto')}}">Contacto</a>
                    </li>
                   
                </ul>
            </div>
        </nav>
        <div id="content" style="padding-bottom: 9rem;">
            {% if request.path == '/usuarios' or request.path == '/upload' or request.path == '/telcontacto' or request.path == '/visitas'
            or request.path == '/condiciones_descuento' or request.path == '/imagenes' or 'ver_imagen' in request.path %}
            <div class="row justify-content-center mx-0">
                <div class="col-md-12 p-0">
                    <nav class="navbar navbar-light bg-light sticky-top navbar-expand-lg">
                        <button type="button" style="background-color: white!important" class="navbar-toggler" data-toggle="collapse" data-target="#navbarSupportedContent1" aria-controls="navbarSupportedContent1" aria-expanded="false" aria-label="Toggle navigation">
                            <i class="fab fa-creative-commons-nd" style="font-size: 1.5em;"></i>
                        </button>
                        <div class="collapse navbar-collapse" id="navbarSupportedContent1">
                            <ul class="navbar-nav ml-0">
                                <li class="nav-item active">
                                    <a href="{{url_for('main.users')}}" class="btn btn-outline-secondary" role="button">Usuarios</a>
                                </li>
                                {% if current_user.is_admin %}
                                <li class="nav-item active">
                                    <a href="{{url_for('main.upload_customers')}}" class="btn btn-outline-secondary" role="button">Agregar usuarios</a>
                                </li>
                                <li class="nav-item active">
                                    <a href="{{url_for('main.tel_contacto')}}" class="btn btn-outline-secondary" role="button">Contacto</a>
                                </li>
                                <li class="nav-item active">
                                    <a href="{{url_for('main.visits')}}" class="btn btn-outline-secondary" role="button">Visitas</a>
                                </li>
                                <li class="nav-item active">
                                    <a href="{{url_for('main.discount_conditions')}}" class="btn btn-outline-secondary" role="button">Condiciones de descuento</a>
                                </li>
                                {% endif %}
                                <li class="nav-item active">
                                    <a href="{{url_for('main.show_images')}}" class="btn btn-outline-secondary" role="button">Imágenes</a>
                                </li>
                                <li class="nav-item active">
                                    <a href="{{url_for('main.logout')}}" class="btn btn-outline-secondary" role="button">Cerrar sesión</a>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </div>
            {% endif %}
            <div class="row justify-content-center">
                <div class="col-md-10">
                {% with messages = get_flashed_messages(with_categories=true) %}
                    {% if messages %}
                        {% for category, message in messages %}
                            {% if category == "error" %}
                                {% set classes = "alert alert-danger alert-dismissible fade show text-center my-2 mb-4" %}
                            {% elif category == "message" %}
                                {% set classes = "alert alert-primary alert-dismissible fade show text-center my-2 mb-4" %}
                            {% endif %}
                            <div class="{{classes}}" role="alert">
                                <span class="{{ category }}">{{ message }}</span>
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                                </button>
                            </div>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                </div>
            </div>
            {% block content %}
            {% endblock %}
        </div>
        <footer id="footer" role="contentinfo" style="position: absolute; bottom: 0; width: 100%;">
            <section class="section swatch-blue">
                <div class="container">
                    <div class="row element-normal-top element-normal-bottom">
                        <div class="col-md-8">
                            <div id="recent-posts-4" class="sidebar-widget  widget_recent_entries">
                                <h6>Lozada Echenique &amp; Asociados /// Todos los derechos reservados</h6>
                                
                            </div>
                        </div>
                        <div class="col-md-4">
                            <div id="tag_cloud-3" class="sidebar-widget2  widget_tag_cloud">
                                <h6>by Pablo Dominguez</h6>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
        </footer>
    </div>
    <script src="{{url_for('static', filename='js/packages.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/theme.min.js')}}"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>        
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
    <script src="//oss.maxcdn.com/momentjs/2.8.2/moment.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.9.0/js/bootstrap-datepicker.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-validator/0.5.3/js/bootstrapValidator.min.js"></script>
    <script src="{{url_for('static', filename='js/jquery.datatables.min.js')}}"></script>
    <script src="{{url_for('static', filename='js/1351.js')}}"></script>
    <script>
        $(document).ready(function() {
            installmentSelect = this.value;
            var discountAmount = document.getElementById('discountAmount');
            if (discountAmount) {
                discountAmount = discountAmount.innerText;
                discountAmount = Number(discountAmount.replace('$ ', '').replace('.', '').replace(',', '.'));
            }
            var totalAmount = document.getElementById('totalAmount');
            if(totalAmount) {
                totalAmount = totalAmount.innerText;
                totalAmount = Number(totalAmount.replace('$ ', '').replace('.', '').replace(',', '.'));
            }
            var instMessage = document.getElementById('instMessage');
            var dateInputValue = '';
            var selectPaymentButton = $('#dropdownMenuLink')
            var datePicker = $('#datePicker');
            var installmentSelect = $("#inst_select :selected").val();
            if (discountAmount) {
                var instAmount = discountAmount / installmentSelect;
            }
            else {
                var instAmount = totalAmount / installmentSelect;
            }
            instAmount = instAmount.toLocaleString('es-ES', {
                maximumFractionDigits: 2
            });
            if(installmentSelect < 2){
                instMessage.innerText = installmentSelect + " cuota de $ " + instAmount;
            }
            else {
                if(instMessage){
                    instMessage.innerText = installmentSelect + " cuotas de $ " + instAmount;
                }
            }
            selectPaymentButton.removeAttr('href')
            selectPaymentButton.prop('disabled', true);
            selectPaymentButton.removeClass('dropdown-toggle');
            selectPaymentButton.removeClass('btn-primary');
            selectPaymentButton.addClass('btn-secondary');
            minDateString = datePicker.attr('min')
            minDate = new Date(minDateString)
            minDate.setDate(minDate.getDate() + 1);
            maxDateString = datePicker.attr('max')
            maxDate = new Date(maxDateString)
            maxDate.setDate(maxDate.getDate() + 1);

            $('#inst_select').on('change', function() {
                installmentSelect = this.value;
                if (discountAmount) {
                    var instAmount = discountAmount / installmentSelect;
                }
                else {
                    var instAmount = totalAmount / installmentSelect;
                }
                instAmount = instAmount.toLocaleString('es-ES', {
                    style: "decimal",
                    maximumFractionDigits: 2
                });
                if(installmentSelect < 2){
                    instMessage.innerText = installmentSelect + " cuota de $ " + instAmount;
                }
                else {
                    instMessage.innerText = installmentSelect + " cuotas de $ " + instAmount;
                }
            });

            datePicker.datepicker({
                format: "dd-mm-yyyy",
                startDate: minDate,
                endDate: maxDate
            });

            datePicker.change(function(){
                dateInputValue = $(this).val();
                fmtDate = dateInputValue.replace(/-/g, '.')
                if( dateInputValue == '') {    
                    datePicker.removeClass('is-valid')
                    selectPaymentButton.removeAttr('href')
                    selectPaymentButton.prop('disabled', true)
                    selectPaymentButton.removeClass('dropdown-toggle');
                    selectPaymentButton.removeClass('btn-primary');
                    selectPaymentButton.addClass('btn-secondary');
                }
                else{
                    datePicker.addClass('is-valid')
                    selectPaymentButton.attr('href', '#')
                    selectPaymentButton.prop('disabled', false)
                    selectPaymentButton.addClass('dropdown-toggle');
                    selectPaymentButton.removeClass('btn-secondary');
                    selectPaymentButton.addClass('btn-primary');
                    $('#pagoFacilLink').attr('href', "/ver_refinanciacion/1/" + installmentSelect + '/' + dateInputValue);
                    $('#naranjaLink').attr('href', "/ver_refinanciacion/2/" + installmentSelect + '/' + dateInputValue);
                    $('#transferLink').attr('href', "/ver_refinanciacion/3/" + installmentSelect + '/' + dateInputValue);
                }
            });
            datePicker.click(function(){
                var dateWindow = $('.datepicker')
                dateWindow.css('z-index', '10000')
            });

            $('#usersTable').DataTable({
                paging: false
            });
            
        });
        var dragItem = document.querySelector("#whatsapp_logo");
        var container = document.querySelector("#draggable_container");

        if (window.innerWidth > 753) {
            if(dragItem) {
                dragItem.style.position = "fixed";    
            dragItem.style.position = "fixed";    
                dragItem.style.position = "fixed";    
                dragItem.style.top = "50%";
                dragItem.style.left = "auto";
                dragItem.style['z-index'] = "7500";
                dragItem.style.right = "40px";
                dragItem.style['margin-top'] = "-75px";
            }
        }
        else {
            if(dragItem) {
                dragItem.style.position = "fixed";    
            dragItem.style.position = "fixed";    
                dragItem.style.position = "fixed";    
                dragItem.style.top = "auto";
                dragItem.style.left = "50%";
                dragItem.style['z-index'] = "7500";
                dragItem.style.right = "auto";
                dragItem.style['margin-left'] = "-68px";
                dragItem.style.bottom = "0px";
            }
        }

        var active = false;
        var currentX;
        var currentY;
        var lastCurrentX = 0;
        var lastCurrentY = 0;
        var initialX;
        var initialY;
        var xOffset = 0;
        var yOffset = 0;
        var moved = false;

        if(container) {
            container.addEventListener("touchstart", dragStart, false);
            container.addEventListener("touchend", dragEnd, false);
            container.addEventListener("touchmove", drag, false);

            container.addEventListener("mousedown", dragStart, false);
            container.addEventListener("mouseup", dragEnd, false);
            container.addEventListener("mousemove", drag, false);
        }
        
        contactLink = document.getElementById('contactLink');
        if(contactLink) {
            contactPhone = contactLink.getAttribute('data-phone');
        }

        function dragStart(e) {
            if (e.type === "touchstart") {
                initialX = e.touches[0].clientX - xOffset;
                initialY = e.touches[0].clientY - yOffset;
            } else {
                initialX = e.clientX - xOffset;
                initialY = e.clientY - yOffset;
            }
                active = true;
        }

        function drag(e) {
            if (active) {
            
                e.preventDefault();
                                    
                if (e.type === "touchmove") {
                currentX = e.touches[0].clientX - initialX;
                currentY = e.touches[0].clientY - initialY;
                } else {
                currentX = e.clientX - initialX;
                currentY = e.clientY - initialY;
                }
                
                xOffset = currentX;
                yOffset = currentY;

                setTranslate(currentX, currentY, dragItem);
            }
        }

        function setTranslate(xPos, yPos, el) {
            el.style.transform = "translate3d(" + xPos + "px, " + yPos + "px, 0)";
        }

        function dragEnd(e) {
            initialX = currentX;
            initialY = currentY;
            movementX = initialX -lastCurrentX;
            movementY = initialY - lastCurrentY;
            
            if ( -1 > movementX || movementX > 1 || -1 > movementY || movementY > 1){
                moved = true;
            }
            else {  
                moved = false;
            }
            
            if (moved){
                contactLink.removeAttribute("href")
                contactLink.removeAttribute("target")
            }
            else {
                contactLink.setAttribute("href", "https://api.whatsapp.com/send?phone=549" + contactPhone + "&text=Hola, tengo consultas");
                contactLink.setAttribute("target", "_blank");
            }
            active = false;
            lastCurrentX = initialX;
            lastCurrentY = initialY;
        }
    </script>
    </body>
</html>
