{% extends "base.html" %}
{% block content %}
<article>
    <section class="section swatch-black section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url('static/images/top_clientes.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 60%;" data-start="background-position:"
        data-70-top-bottom="background-position:">
        </div>
        <div class="background-overlay grid-overlay-30 " style="background-color: rgba(0,0,0,0.3);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="text-center  element-normal-top element-normal-bottom not-condensed">
                        <h1 class="super hairline bordered-normal">
        Algunos de nuestros Clientes
    </h1>
                    </header>
                </div>
            </div>
        </div>
    </section>
    <section class="section swatch-gray">
    <div class="container">
    <div class="row">
    <div class="col-md-12">
                    <header class="text-center  element-normal-top element-medium-bottom not-condensed os-animation animated fadeIn" data-os-animation="fadeIn" data-os-animation-delay="0s" style="-webkit-animation: 0s;">
                    </header>
                </div>
            </div>
            
            <div class="row ">
                <div class="col-md-4">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                        <div class="wpb_wrapper">
                            <ul>
                                <li>AUPE S.A. (Concesionaria oficial Peugeot)</li>
<li>ASTORI ESTRUCTURAS S.A.</li>
<li>AMERICAN EXPRESS </li>
<li>ANGEL "PATO" CABRERA</li>
<li>BIENCZAK SRL (Logística  en Transporte).</li>
<li>BENEFITS SA - MANPOWER</li>
<li>CAMARA DE COMERCIO DE CORDOBA
<li>CIRCULO DE INVERSORES S.A. (Plan de Ahorro Peugeot)</li>
<li>COBRANZAS REGIONALES S.A.</li>
<li>CORDOBA GOLF CLUB</li>
<li>CORDOBA SHOPPING DE VILLA CABRERA</li>
<li>CANTERAS NADAL CRESPO S.A.</li>
<li>DOMINO SRL (Constructora)</li>
<li>EL GRAN OMBU S.A.</li>
<li>ESTANCIAS DEL SUR SA </li>
<li>FOOD SERVICE AMERICA S.A.</li>

                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                        <div class="wpb_wrapper">
                            <ul>
                                <li>FUNDACION PARA EL PROGRESO DE LA MEDICINA </li>
<li>FUNDACION ANGEL PATO CABRERA </li>
<li>GOLF ACADEMY S.A.</li>
<li>GRUNHAUT DESARROLLOS INMOBILIARIOS S.A.</li>
<li>GRUPO BZN DESARROLLOS INMOBILIARIOS S.A.</li>
<li>ECHANIZ HERMANOS S.A. </li>
<li>EDUARDO “GATO” ROMERO</li>
<li>HEWLETT PACKARD ARGENTINA SRL</li>
<li>HOLLYDAY INN – Ceibotel SA</li>
<li>IRSA</li>
<li>INTEL SOFTWARE DE ARGENTINA S.A</li>
<li>JOHNSON CONTROLS AUTOMOTIVE SYSTEMS S.R.L</li>
<li>LAS SEIS M S.A.</li>
<li>LA CAJA ASEGURADORA DE RIESGOS DEL TRABAJO ART SA</li>
<li>LIBERTAD SA (Grupo Casino). </li>


                            </ul>
                        </div>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="wpb_raw_code wpb_content_element wpb_raw_html">
                        <div class="wpb_wrapper">
                            <ul>
                                <li>MARIA CELIA S.A.</li>
<li>MARIA TERESA S.A.</li>
<li>M. TAGLE (h) Y CIA S.A.C.I.F.</li>
<li>MOTCORD S.A.</li>
<li>MUNICIPALIDAD DE VILLA ALLENDE</li>
<li>PALMAR S.A. y su grupo de empresas</li>
<li>PATAGONIAN GOLF MANEMENT (PGM) </li>
<li>PEUGEOT CITROEN ARGENTINA S.A.</li>
<li>PUESTO BELGRANO S.A.</li>
<li>SANATORIO ALLENDE S.A.</li>
<li>RURAL POWER S.A.</li>
<li>S.I.P.S.S.A. (Sistema Integrado de Prestadores de Salud S.A.)</li>
<li>TARSHOP SA.</li>
<li>TASK SOLUTIONS SA</li>
<li>TARJETA NARANJA S.A.</li>
<li>ZOFRACOR S.A. - Zona Franca Córdoba</li>


                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    
</article>
{% endblock %}