{% extends "base.html" %}
{% block content %}
<article>
    <section class="section swatch-blue section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url('static/images/top_clientes.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50% 0%;" data-start="background-position:"
        data-70-top-bottom="background-position:">
        </div>
        <div class="background-overlay grid-overlay-20 " style="background-color: rgba(0,0,0,0.4);"></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="text-center  element-normal-top element-normal-bottom not-condensed">
                        <h1 class="super hairline bordered bordered-normal">
        Departamento de Cobranzas
    </h1>
                        <p class="lead">Recupero de Mora</p>
                    </header>
                </div>
            </div>
        </div>
    </section>
    <section class="section swatch-gray">
        <div class="container">
            <div class="row element-short-bottom">
            
                <div class="col-md-6 text-right small-screen-center">
                
                    <div class="figure  element-tall-top element-no-bottom os-animation image-filter-none image-filter-onhover fade-in text-center figcaption-middle" data-os-animation="fadeInRight" data-os-animation-delay="0s">
                    
                        <span class="figure-image">
        <img src="static/images/cobranzas2.jpg" alt="" class="normalwidth">
    </span>
                    </div>
                </div>
                <div class="col-md-6  element-normal-top">
                    <header class="text-left element-tall-top element-no-bottom not-condensed os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="1s">
                        
                        <p>El Estudio tiene montado un departamento especifico de recupero de mora, con jóvenes y profesionales capacitados permanentemente en tal sentido. El grupo de trabajo cuenta con el soporte técnico necesario para tal actividad. Se trabaja en tres tipo de instancias para lograr el recupero de los créditos de nuestros clientes.- </br>
</br>
El primero de ellos es una gestión de telemora, en el cual se gestiona la mora temprana, sin perder de vista el delicado cuidado que se le debe brindar al deudor en esta instancia, de tal manera de no resentir la relación entre el deudor/ cliente, y persuadirlo que su mejor opción es la regularización de su deuda. El trabajo sobre la mora temprana, permite reencausar al deudor rápidamente y evita mayores gastos e inconvenientes.-</br>
</br>
En la segunda etapa, de no lograrse el objetivo con la mora temprana,  se inician gestiones pre judiciales, esto es comunicaciones fehacientes (cartas y/o cartas documento y/o notificaciones notariales), se continua con los llamados telefónicos, envíos de e.mails, mensajes, whats app etc. ,  y con la ayuda de nuevos  elementos tecnológicos, se realiza búsquedas y análisis  que permiten contactar y calificar las particularidades de cada caso. De ser necesario,  se organizan eventuales visitas domiciliarias. En esta etapa se prepara la carpeta con los antecedentes recabados  del deudor, con la finalidad de evaluar la factibilidad en el inicio de acciones judiciales o no.-</br>
</br>
La tercera etapa consiste en la iniciación de acciones judiciales (de ser requerido por el cliente). Estas pueden ser juicios Ordinarios, Abreviados y/o Ejecutivos. También pedidos de Quiebras o en su caso inhibiciones.-</br>
</br>
Antes de iniciar la etapa judicial se consulta al comitente, con los antecedentes del caso, sobre la conveniencia de la iniciación de estas acciones judiciales.-
Además de ello, Lozada Echenique & Asociados cuenta con un equipo de martilleros, con campo de acción en toda la provincia de Córdoba, Capital Federal, Buenos Aires y Santa Fe y Ciudad de Rosario.- 
</p>
                    </header>
                </div>
            </div>
        </div>
    </section>

</article>
{% endblock %}