{% extends "base.html" %}

{% block title %}
Condiciones de descuento
{% endblock %}

{% block content %}
<style>
.conditionForm {
    border: 1px solid #ced4da;
    border-radius: .25rem; 
    color: #495057; 
    height: calc(1.5em + .75rem + 2px);
}
</style>
<div class="container-fluid">
    <div class="row" >
        <div class="col-md-12 px-4">
            {% if current_user.is_admin == false and current_user.is_super == false %}
                <div class="alert alert-danger" role="alert">
                    Usted necesita privilegios de administrador para acceder a esta información
                </div>
            {% else %}
            <div class="row">
                <div class="col-md-6">
                    <h2 class="my-3">Condiciones de descuento</h2>
                </div>
                <div class="table-responsive">
                    <table class="table table-striped table-hover table-sm">
                        <thead>
                            <tr>
                                <th scope="col" class="text-center"><p class="m-0">Condición 1</p><p class="m-0 small">Código</p></th>
                                <th scope="col" class="text-center"><p class="m-0">Condición 2</p><p class="m-0 small">Tiempo de asignación</p></th>
                                <th scope="col" class="text-center"><p class="m-0">Condición 3</p><p class="m-0 small">Deuda total</p></th>
                                <th scope="col" class="text-center"><p class="m-0">Condición 4</p><p class="m-0 small">Riesgo</p></th>
                                <th scope="col" class="text-center">Quita de intereses</th>
                                <th scope="col" class="text-center">Quita de capital</th>
                                <th scope="col" class="text-center">Cuotas</th>
                                <th scope="col" class="text-center">Vencimiento</th>
                                <th scope="col" class="text-center"></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for condition in conditions %}
                                <tr>
                                    <td class="text-center align-middle">
                                        <div id="input{{loop.index0}}1EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.code %}
                                            <input id="input{{loop.index0}}1Edit" class="m-0 px-2 conditionForm" type="text" value="{{ condition.code }}" style="max-width: 6em;">
                                            {% else %}
                                            <input id="input{{loop.index0}}1Edit" class="m-0 px-2 conditionForm" type="text" value="" style="max-width: 6em;">
                                            {% endif %}
                                        </div>
                                        {% if condition.code %}
                                        <div id="input{{loop.index0}}1Wrapper" class="m-0">
                                            <span id="input{{loop.index0}}1">{{ condition.code }}</span>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        <div id="input{{loop.index0}}2EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.assigned_time_greater_than %}
                                            Mayor a <input id="input{{loop.index0}}2Edit" style="max-width: 3em;" class="m-0 px-2 conditionForm" type="number" 
                                            value="{{ condition.assigned_time_greater_than }}"> días
                                            {% else %}
                                            Mayor a <input id="input{{loop.index0}}2Edit" style="max-width: 3em;" class="m-0 px-2 conditionForm" type="number" 
                                            value=""> días
                                            {% endif %}
                                        </div>
                                        {% if condition.assigned_time_greater_than %}
                                        <div id="input{{loop.index0}}2Wrapper" class="m-0">
                                            Mayor a <span id="input{{loop.index0}}2" class="m-0">{{ condition.assigned_time_greater_than }}</span> días
                                        </div>
                                        {% endif %}
                                        <div id="input{{loop.index0}}3EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.assigned_time_less_than %}
                                            Menor a <input id="input{{loop.index0}}3Edit" style="max-width: 3em;" class="m-0 px-2 conditionForm" type="number" 
                                            value="{{ condition.assigned_time_less_than }}"> días
                                            {% else %}
                                            Menor a <input id="input{{loop.index0}}3Edit" style="max-width: 3em;" class="m-0 px-2 conditionForm" type="number" 
                                            value=""> días
                                            {% endif %}
                                        </div>
                                        {% if condition.assigned_time_less_than %}
                                        <div id="input{{loop.index0}}3Wrapper" class="m-0">
                                            Menor a <span id="input{{loop.index0}}3" class="m-0">{{ condition.assigned_time_less_than }}</span> días
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        <div id="input{{loop.index0}}4EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.total_debt_greater_than %}
                                            Mayor a $ <input id="input{{loop.index0}}4Edit" style="max-width: 5em;" class="m-0 px-2 conditionForm" type="number" 
                                                value="{{ condition.total_debt_greater_than }}">
                                            {% else %}
                                            Mayor a $ <input id="input{{loop.index0}}4Edit" style="max-width: 5em;" class="m-0 px-2 conditionForm" type="number" 
                                                value="">
                                            {% endif %}
                                        </div>
                                        {% if condition.total_debt_greater_than %}
                                        <div id="input{{loop.index0}}4Wrapper" class="m-0">
                                            Mayor a $ <span id="input{{loop.index0}}4" class="m-0">{{ condition.total_debt_greater_than }}</span>
                                        </div>
                                        {% endif %}

                                        <div id="input{{loop.index0}}5EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.total_debt_less_than %}
                                            Menor a $ <input id="input{{loop.index0}}5Edit" style="max-width: 5em;" class="m-0 px-2 conditionForm" type="number" 
                                                value="{{ condition.total_debt_less_than }}">
                                            {% else %}
                                            Menor a $ <input id="input{{loop.index0}}5Edit" style="max-width: 5em;" class="m-0 px-2 conditionForm" type="number" 
                                                value="">
                                            {% endif %}
                                        </div>
                                        {% if condition.total_debt_less_than %}
                                        <div id="input{{loop.index0}}5Wrapper" class="m-0">
                                            Menor a $ <span id="input{{loop.index0}}5" class="m-0">{{ condition.total_debt_less_than }}</span>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        <div id="input{{loop.index0}}6EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.risk %}
                                            <input id="input{{loop.index0}}6Edit" class="m-0 px-2 conditionForm" type="text" value="{{ condition.risk }}" style="max-width: 6em;">
                                            {% else %}
                                            <input id="input{{loop.index0}}6Edit" class="m-0 px-2 conditionForm" type="text" value="" style="max-width: 6em;">
                                            {% endif %}
                                        </div>
                                        {% if condition.risk %}
                                        <div id="input{{loop.index0}}6Wrapper" class="m-0">
                                            <span id="input{{loop.index0}}6">{{ condition.risk }}</span> 
                                        </div>
                                        {% endif %}
                                    </td>
                                    </td>
                                    <td class="text-center align-middle">
                                        <div id="input{{loop.index0}}7EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.interests_discount %}
                                            <input id="input{{loop.index0}}7Edit" style="max-width: 3em;" class="m-0 px-2 conditionForm" type="number"
                                             value="{{ condition.interests_discount }}"> %
                                             {% else %}
                                             <input id="input{{loop.index0}}7Edit" style="max-width: 3em;" class="m-0 px-2 conditionForm" type="number"
                                             value=""> %
                                            {% endif %}
                                        </div>
                                        <div id="input{{loop.index0}}EditCheckWrapper" class="m-0" style="display: none;">
                                            {% if condition.max_discount %}
                                            <input id="input{{loop.index0}}EditCheck" onclick="editCheckboxClicked('{{ loop.index0 }}')" type="checkbox" checked="true"><label for="input{{loop.index0}}EditCheck">Quita máxima</label>
                                            {% else %}
                                            <input id="input{{loop.index0}}EditCheck" onclick="editCheckboxClicked('{{ loop.index0 }}')" type="checkbox"><label for="input{{loop.index0}}EditCheck">Quita máxima</label>
                                            {% endif %}
                                        </div>
                                        {% if condition.max_discount %}
                                            <span id="input{{loop.index0}}Check">Quita máxima</span>
                                        {% elif condition.interests_discount %}
                                        <div id="input{{loop.index0}}7Wrapper" class="m-0">
                                            <span id="input{{loop.index0}}7">{{ condition.interests_discount }}</span> % 
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        <div id="input{{loop.index0}}8EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.capital_discount %}
                                            <input id="input{{loop.index0}}8Edit" style="max-width: 3em;" class="m-0 px-2 conditionForm" type="number" 
                                            value="{{ condition.capital_discount }}"> %
                                            {% else %}
                                            <input id="input{{loop.index0}}8Edit" style="max-width: 3em;" class="m-0 px-2 conditionForm" type="number" 
                                            value=""> %
                                            {% endif %}
                                        </div>
                                        {% if condition.capital_discount %}
                                        <div id="input{{loop.index0}}8Wrapper" class="m-0">
                                            <span id="input{{loop.index0}}8">{{ condition.capital_discount }}</span> %
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        <div id="input{{loop.index0}}9EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.installments_number %}
                                            <input id="input{{loop.index0}}9Edit" class="m-0 px-2 conditionForm" type="number" min="1" max="12" value="{{ condition.installments_number }}" style="max-width: 3em;">
                                            {% else %}
                                            <input id="input{{loop.index0}}9Edit" class="m-0 px-2 conditionForm" type="number" min="1" max="12" value="" style="max-width: 3em;">
                                            {% endif %}
                                        </div>
                                        {% if condition.installments_number %}
                                        <div id="input{{loop.index0}}9Wrapper" class="m-0">
                                            <span id="input{{loop.index0}}9">{{ condition.installments_number }}</span>
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle">
                                        <div id="input{{loop.index0}}10EditWrapper" class="m-0" style="display: none;">
                                            {% if condition.expiration_date %}
                                            <input id="input{{loop.index0}}10Edit" class="m-0 px-2 conditionForm" type="number" value="{{ condition.expiration_date }}" style="max-width: 3em;"> días
                                            {% else %}
                                            <input id="input{{loop.index0}}10Edit" class="m-0 px-2 conditionForm" type="number" value="" style="max-width: 3em;"> días
                                            {% endif %} 
                                        </div>
                                        {% if condition.expiration_date %}
                                        <div id="input{{loop.index0}}10Wrapper" class="m-0">
                                            <span id="input{{loop.index0}}10">{{ condition.expiration_date }}</span> días
                                        </div>
                                        {% endif %}
                                    </td>
                                    <td class="text-center align-middle"> 
                                        <a href="/eliminar_condicion_descuento/{{ condition.id }}" class="btn btn-default">
                                            <i class="fas fa-trash-alt"></i>
                                        </a>
                                    </td>
                                    <td id="editButton{{ loop.index0 }}" class="text-center align-middle">
                                        <a role="button" onclick="editConditionRow('{{loop.index0}}')" class="btn btn-default">
                                            <i class="fas fa-pencil-alt"></i>
                                        </a>
                                    </td>
                                    <td id="downloadButton{{ loop.index0 }}" style="display: none;" class="text-center align-middle">
                                        <a role="button" onclick="updateConditionRow('{{ loop.index0 }}', '{{ condition.id }}')" class="btn btn-default">
                                            <i class="fas fa-arrow-down"></i>
                                        </a>
                                    </td>
                                    <td>

                                    </td>
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="row" id="conditionsAlert" style="display: none;">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        Al menos debe completar una de las condiciones
                      </div>
                </div>
            </div>
            <div class="row" id="conclusionsAlert" style="display: none;">
                <div class="col-md-12">
                    <div class="alert alert-danger" role="alert">
                        Al menos debe completar uno de los resultados
                      </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <button type="button" class="btn btn-primary my-3" onclick="addConditionRow()">Agregar condición</button>
                </div>
            </div>
        </div>
            {% endif %}   
    </div>
</div>
<script>
    var csrf_token = "{{ csrf_token() }}";
    var newTr = document.createElement("tr");
    conditionsAlert = document.getElementById('conditionsAlert');
    conclusionsAlert = document.getElementById('conclusionsAlert');
    codeTd = newTr.insertCell()
    aTimeTd = newTr.insertCell()
    tDebtTd = newTr.insertCell()
    riskTd = newTr.insertCell()
    iDiscountTd = newTr.insertCell()
    cDiscountTd = newTr.insertCell()
    iNumberTd = newTr.insertCell()
    eDateTd = newTr.insertCell()
    deleteTd = newTr.insertCell()
    saveTd = newTr.insertCell()

    
    codeTd.innerHTML = '<input class="m-0 px-2 conditionForm" type="text" value="" style="max-width: 6em;">';
    
    aTimeTd.innerHTML = '<div class="m-0">Mayor a <input class="m-0 px-2 conditionForm" type="number" value="" style="max-width: 3em;">' +
                        ' días</div><div class="m-0"> Menor a <input class="m-0 px-2 conditionForm" type="number" value="" style="max-width: 3em;"> días</div>';
    
    tDebtTd.innerHTML = '<div class="m-0">Mayor a $ <input class="m-0 px-2 conditionForm" type="number" value="" style="max-width: 5em;">' + 
                        '</div><div class="m-0">Menor a $ <input class="m-0 px-2 conditionForm" type="number" value="" style="max-width: 5em;"></div>';

    riskTd.innerHTML = '<input class="m-0 px-2 conditionForm" type="text" value="" style="max-width: 6em;">'                        

    iDiscountTd.innerHTML = '<input class="m-0 px-2 conditionForm" type="number" value="" style="max-width: 3em;"> %' + 
                            '<div class="my-2"><input type="checkbox" onclick="checkboxClicked(newTr)" id="checkbox1">' +
                            '<label for="checkbox1"> Quita máxima</label></div>';
    
    cDiscountTd.innerHTML = '<input class="m-0 px-2 conditionForm" type="number" value="" style="max-width: 3em;"> %';

    iNumberTd.innerHTML = '<input class="m-0 px-2 conditionForm" type="number" value="" style="max-width: 3em;">';

    eDateTd.innerHTML = '<input class="m-0 px-2 conditionForm" type="number" value="" style="max-width: 3em;"> días';

    deleteTd.innerHTML = '<a onclick="deleteConditionRow()" class="btn btn-default"><span class="fas fa-trash-alt"></span></a>'

    saveTd.innerHTML = '<button type="button" class="btn btn-primary my-3" onclick="saveCondition(newTr)">Guardar condición</button>'

    codeTd.className = 'text-center align-middle';
    aTimeTd.className = 'text-center align-middle';
    tDebtTd.className = 'text-center align-middle';
    riskTd.className = 'text-center align-middle';
    iDiscountTd.className = 'text-center align-middle';
    cDiscountTd.className = 'text-center align-middle';
    iNumberTd.className = 'text-center align-middle';
    eDateTd.className = 'text-center align-middle';
    deleteTd.className = 'text-center align-middle';
    saveTd.className = 'text-center align-middle';
    
    var tbody = document.getElementsByTagName('tbody')[0];

    function addConditionRow() {
        tbody.appendChild(newTr);
    }

    function saveCondition(row){
        var conditions = [];
        var conditionsLength = '';
        var conclusionsLength = '';
        ajaxBody = {};
        var inputs = row.getElementsByTagName('input');
        for(let i = 0; i < 6; i++){
            conditionsLength += inputs[i].value;
        }
        for(let j = 6; j < 10; j++){
            conclusionsLength += inputs[j].value;
        }
        ajaxBody.code = inputs[0].value;
        ajaxBody['assigned_time_greater_than'] = inputs[1].value;
        ajaxBody['assigned_time_less_than'] = inputs[2].value;
        ajaxBody['total_debt_greater_than'] = inputs[3].value;
        ajaxBody['total_debt_less_than'] = inputs[4].value;
        ajaxBody.risk = inputs[5].value;
        ajaxBody['interests_discount'] = inputs[6].value;
        ajaxBody['max_discount'] = inputs[7].checked;
        ajaxBody['capital_discount'] = inputs[8].value;
        ajaxBody['installments_number'] = inputs[9].value;
        ajaxBody['expiration_date'] = inputs[10].value;

        if(conditionsLength != ''){
            conditionsAlert.style.display = 'none';
            inputs[0].style.border = '1px solid #ced4da';
            inputs[1].style.border = '1px solid #ced4da';
            inputs[2].style.border = '1px solid #ced4da';
            inputs[3].style.border = '1px solid #ced4da';
            inputs[4].style.border = '1px solid #ced4da';
            inputs[5].style.border = '1px solid #ced4da';
        }

        if (conclusionsLength != ''){
                conclusionsAlert.style.display = 'none';
                inputs[6].style.border = '1px solid #ced4da';
                inputs[7].style.border = '1px solid #ced4da';
                inputs[8].style.border = '1px solid #ced4da';
                inputs[9].style.border = '1px solid #ced4da';
        }

        if(conditionsLength != '' && conclusionsLength != ''){
            fetch('/salvar_condiciones_descuento', {
            method: 'POST',
            credentials: "include",
            headers: new Headers({
                'X-CSRFToken': csrf_token,
                'Accept': 'application/json',
                "content-type": "application/json"
            }),
            body: JSON.stringify(ajaxBody)
            }).then(function(response) {
                if(response.ok){
                    window.location.href = "/condiciones_descuento"
                }
            });
        }
        else{
            if(conditionsLength == ''){
                conditionsAlert.style.display = 'block';
                inputs[0].style.border = '1px solid red';
                inputs[1].style.border = '1px solid red';
                inputs[2].style.border = '1px solid red';
                inputs[3].style.border = '1px solid red';
                inputs[4].style.border = '1px solid red';
                inputs[5].style.border = '1px solid red';
            }
            if(conclusionsLength == ''){
                conclusionsAlert.style.display = 'block';
                inputs[6].style.border = '1px solid red';
                inputs[7].style.border = '1px solid red';
                inputs[8].style.border = '1px solid red';
                inputs[9].style.border = '1px solid red';
            }
        }
    }
    function deleteConditionRow(){
        tbody.removeChild(tbody.lastChild)
        conditionsAlert.style.display = 'none';
        conclusionsAlert.style.display = 'none';
    }

    function editConditionRow(index){
        var input1EditWrapper = document.getElementById('input' + index + '1EditWrapper');
        var input1Wrapper = document.getElementById('input' + index + '1Wrapper');
        var input2EditWrapper = document.getElementById('input' + index + '2EditWrapper');
        var input2Wrapper = document.getElementById('input' + index + '2Wrapper');
        var input3EditWrapper = document.getElementById('input' + index + '3EditWrapper');
        var input3Wrapper = document.getElementById('input' + index + '3Wrapper');
        var input4EditWrapper = document.getElementById('input' + index + '4EditWrapper');
        var input4Wrapper = document.getElementById('input' + index + '4Wrapper');
        var input5EditWrapper = document.getElementById('input' + index + '5EditWrapper');
        var input5Wrapper = document.getElementById('input' + index + '5Wrapper');
        var input6EditWrapper = document.getElementById('input' + index + '6EditWrapper');
        var input6Wrapper = document.getElementById('input' + index + '6Wrapper');
        var input7EditWrapper = document.getElementById('input' + index + '7EditWrapper');
        var input7Wrapper = document.getElementById('input' + index + '7Wrapper');
        var input8EditWrapper = document.getElementById('input' + index + '8EditWrapper');
        var input8Wrapper = document.getElementById('input' + index + '8Wrapper');
        var input9EditWrapper = document.getElementById('input' + index + '9EditWrapper');
        var input9Wrapper = document.getElementById('input' + index + '9Wrapper');
        var input10EditWrapper = document.getElementById('input' + index + '10EditWrapper');
        var input10Wrapper = document.getElementById('input' + index + '10Wrapper');

        var inputEditCheckWrapper = document.getElementById('input' + index + 'EditCheckWrapper');
        var inputCheck = document.getElementById('input' + index + 'Check');

        var editButton = document.getElementById('editButton' + index);
        var downloadButton = document.getElementById('downloadButton' + index);

        if(input1Wrapper != null) {input1Wrapper.style.display = 'none';}
        if(input1EditWrapper != null) {input1EditWrapper.style.display = 'inline-block';}
        if(input2Wrapper != null) {input2Wrapper.style.display = 'none';}
        if(input2EditWrapper != null) {input2EditWrapper.style.display = 'block';}
        if(input3Wrapper != null) {input3Wrapper.style.display = 'none';}
        if(input3EditWrapper != null) {input3EditWrapper.style.display = 'block';}
        if(input4Wrapper != null) {input4Wrapper.style.display = 'none';}
        if(input4EditWrapper != null) {input4EditWrapper.style.display = 'block';}
        if(input5Wrapper != null) {input5Wrapper.style.display = 'none';}
        if(input5EditWrapper != null) {input5EditWrapper.style.display = 'block';}
        if(input6Wrapper != null) {input6Wrapper.style.display = 'none';}
        if(input6EditWrapper != null) {input6EditWrapper.style.display = 'inline-block';}
        if(input7Wrapper != null) {input7Wrapper.style.display = 'none';}
        if(input7EditWrapper != null) {input7EditWrapper.style.display = 'inline-block';}
        if(input8Wrapper != null) {input8Wrapper.style.display = 'none';}
        if(input8EditWrapper != null) {input8EditWrapper.style.display = 'inline-block';}
        if(input9Wrapper != null) {input9Wrapper.style.display = 'none';}
        if(input9EditWrapper != null) {input9EditWrapper.style.display = 'inline-block';}
        if(input10Wrapper != null) {input10Wrapper.style.display = 'none';}
        if(input10EditWrapper != null) {input10EditWrapper.style.display = 'inline-block';}

        if(inputCheck != null){inputCheck.style.display = 'none';}
        if(inputEditCheckWrapper != null){inputEditCheckWrapper.style.display = 'block'}

        if(editButton != null) {editButton.style.display = 'none';}
        if(downloadButton != null) {
            downloadButton.style.display = 'table-cell';
            downloadButton.classList.add('text-center', 'align-middle');
            }

    }
    function updateConditionRow(index, id){
        var ajaxBody = {};
        var editButton = document.getElementById('editButton' + index);
        var downloadButton = document.getElementById('downloadButton' + index);        
        var input1Edit = document.getElementById('input' + index + '1Edit');        
        var input2Edit = document.getElementById('input' + index + '2Edit');        
        var input3Edit = document.getElementById('input' + index + '3Edit');        
        var input4Edit = document.getElementById('input' + index + '4Edit');       
        var input5Edit = document.getElementById('input' + index + '5Edit');        
        var input6Edit = document.getElementById('input' + index + '6Edit');        
        var input7Edit = document.getElementById('input' + index + '7Edit');        
        var input8Edit = document.getElementById('input' + index + '8Edit');        
        var input9Edit = document.getElementById('input' + index + '9Edit');        
        var input10Edit = document.getElementById('input' + index + '10Edit');

        var inputEditCheck = document.getElementById('input' + index + 'EditCheck');
        ajaxBody.id = id;
        if(input1Edit){ajaxBody.code = input1Edit.value;}
        if(input2Edit){ajaxBody['assigned_time_greater_than'] = input2Edit.value;}
        if(input3Edit){ajaxBody['assigned_time_less_than'] = input3Edit.value;}
        if(input4Edit){ajaxBody['total_debt_greater_than'] = input4Edit.value;}
        if(input5Edit){ajaxBody['total_debt_less_than'] = input5Edit.value;}
        if(input6Edit){ajaxBody.risk = input6Edit.value;}
        if(input7Edit){ajaxBody['interests_discount'] = input7Edit.value;}
        if(input8Edit){ajaxBody['capital_discount'] = input8Edit.value;}
        if(input9Edit){ajaxBody['installments_number'] = input9Edit.value;}
        if(input10Edit){ajaxBody['expiration_date'] = input10Edit.value;}
        if(inputEditCheck){ajaxBody['max_discount'] = inputEditCheck.checked;}

        fetch('/actualizar_condicion_descuento', {
            method: 'POST',
            credentials: "include",
            headers: new Headers({
                'X-CSRFToken': csrf_token,
                'Accept': 'application/json',
                "content-type": "application/json"
            }),
            body: JSON.stringify(ajaxBody)
            }).then(function(response) {
                if(response.ok){
                    window.location.href = "/condiciones_descuento"
                }
            });
    }
    function checkboxClicked(row){
        var inputs = row.getElementsByTagName('input');
        inputs[6].value = "";
        inputs[8].value = "";
    }
    function editCheckboxClicked(index){
        var input7Edit = document.getElementById('input' + index + '7Edit');
        var input8Edit = document.getElementById('input' + index + '8Edit');
        input7Edit.value = '';
        input8Edit.value = '';
    }
</script>
{% endblock %}