{% extends "base.html" %}
{% block content %}
<article>
    <section class="section swatch-white">
        <div class="container-fullwidth">
            <div class="row">
                <div class="col-md-12">
                    <div class="google-map" id="map" style="height:400px;"></div>
                </div>
            </div>
        </div>
    </section>
    <section id="two" class="section swatch-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <header class="text-center element-normal-top element-medium-bottom not-condensed os-animation" data-os-animation="fadeInUp" data-os-animation-delay="0s">
                        <h1 class="bigger hairline bordered bordered-normal">
        Contactenos
    </h1>
                    </header>
                </div>
            </div>
            <div class="row ">
                <div class="col-md-6  text-left small-screen-left os-animation" data-os-animation="fadeInLeft" data-os-animation-delay="0.3s">
                    
                <ul class="fa-ul lead  element-no-top element-medium-bottom" data-os-animation="none" data-os-animation-delay="0s">
                        <li>
                            <i class="fa fa-li fa-home" style="color:#006633;"></i>
                            Belgrano 21 Piso 1ro 
                            <br>Córdoba (5000) - Argentina
        </li>
                        <li>
                            <i class="fa fa-li fa-phone" style="color:#006633;"></i>
                            3515930385 – 3516768239
            </li>
                        <li> <a href="mailto:estudiojuridico@lozadaechenique.com.ar">estudiojuridico@lozadaechenique.com.ar</a></li>
                    </ul>
                    <div class="element-short-top element-short-bottom" data-os-animation="none" data-os-animation-delay="0s">
                        <ul class="social-icons social-lg social-background social-circle ">
                            <li>
                                <a href="#" target="_self" style="background-color:#006633;" data-iconcolor="#ea4c89">
                                    <i class="fab fa-dribbble"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self" style="background-color:#006633;" data-iconcolor="#3b5998">
                                    <i class="fab fa-facebook"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self" style="background-color:#006633;" data-iconcolor="#0063dc">
                                    <i class="fab fa-flickr"></i>
                                </a>
                            </li>
                            <li>
                                <a href="#" target="_self" style="background-color: #006633;" data-iconcolor="#4183c4">
                                    <i class="fab fa-github" style="color: rgb(255, 255, 255);"></i>
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="col-md-6 text-left small-screen-center os-animation" data-os-animation="fadeInRight" data-os-animation-delay="0.3s">
                    <form id="contactForm" class="contact-form">
                        <div class="form-group form-icon-group">
                            <input class="form-control" id="name" name="name" placeholder="Nombre y Apellido *" type="text" required/>
                            <i class="fa fa-user"></i>
                        </div>
                        <div class="form-group form-icon-group">
                            <input class="form-control" id="email" name="email" placeholder="Email *" type="email" required>
                            <i class="fa fa-envelope"></i>
                        </div>
                        <div class="form-group form-icon-group">
                            <textarea class="form-control" id="message" name="message" placeholder="Mensaje" rows="10" required></textarea>
                            <i class="fas fa-pencil-alt"></i>
                        </div>
                        <div>
                            <input type="submit" value="Enviar" class="btn btn-primary">
                        </div>
                        <div id="messages"></div>
                    </form>
                </div>
            </div>
            <hr>
        </div>
    </section>
</article>
{% if tel_contacto %}
<div id="draggable_container">
    <div id="whatsapp_logo" class="mr-2" style="max-width: 8em;">
    <div class="row justify-content-center">
        <div class="col text-center">
        <a href= '{{"https://api.whatsapp.com/send?phone=549" + tel_contacto + "&text=Hola, tengo consultas"}}'  target="_blank">
            <img style="max-height: 6em;" src="{{url_for('static', filename='images/whatsapp_logo.png')}}" alt="whatsapp_logo">
            <p class="small my-2">¿Consultas? Whatsapp al {{ tel_contacto }} </p>
        </a>
        </div>
    </div>
    </div>
</div>
{% endif %}
<script src="{{url_for('static', filename='js/packages.min.js')}}"></script>
<script src="{{url_for('static', filename='js/theme.min.js')}}"></script>
<script src="https://maps.googleapis.com/maps/api/js?sensor=false"></script>
<script src="{{url_for('static', filename='js/map.min.js')}}"></script>
<script src="{{url_for('static', filename='js/contact.min.js')}}"></script>
{% endblock %}