{% extends "base.html" %}

{% block title %}
Users
{% endblock %}

{% block content %}
<div class="tables-2">
    <div id="cont" class="container h-100 p-1 px-3" style="min-height: 25em; overflow-x: hidden;">
        <div id="cellNotSavedWarning" class="row justify-content-center" style="display: none;">
            <div class="col-md-10 text-center">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                     Hay cambios sin guardar
                    <button type="button"  class="close" aria-label="Close" onclick="hideAlert('cellNotSavedWarning')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            </div>
        </div>
        <div class="row align-items-center">
            <div class="col-md-12 col-lg-3">
                <h3 class="my-2">Datos de</h3>
                <div class="dropdown-divider w-50 my-2 divisor"></div>
                <h3 name="cells" class="azul font-weight-bold">{{ line.cliente }}</h3>
            </div>
            <div class="col-md-12 col-lg-9 mt-2">
                <div class="borde-azul">
                    <div class="">
                        <div class="inner-wrapper p-2">
                            <div class="row">
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="separador-linea gris font-weight-bold">Código</h4>
                                    <p name="cells">{{ line.codigo }}</p>
                                </div>
                                <div class="col-md-12 col-lg-3 celdas">
                                    <h4 class="separador-linea gris font-weight-bold">Operador</h4>
                                    <p name="cells">{{ line.operador }}</p>
                                </div>
                                <div class="col-md-12 col-lg-3 celdas">
                                    <h4 class="separador-linea gris font-weight-bold">En el estudio</h4>
                                    <p name="cells">{{ line.en_el_est }}</p>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="separador-linea gris font-weight-bold">120 Días</h4>
                                    <p name="cells">{{ line.a_120_dias }}</p>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="separador-linea gris font-weight-bold">Contraseña</h4>
                                    <p name="cells">{{ line.hoy }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div id="dataTables" class="my-1">
                    <div class="encuadro my-2">
                        <div class="container-fluid encabezado">
                            <div class="row">
                                <div class="col-md-12 d-flex align-items-center">
                                    <img class="icono p-2" src="{{url_for('static', filename='images/svg/personales.svg')}}" alt="">
                                    <p style="font-size: 1.1rem;" class="pl-4">Datos Personales</p>
                                </div>
                            </div>
                        </div>
                        <div class="inner-wrapper p-2">
                            <div class="row">
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="separador-linea gris font-weight-bold">DNI</h4>
                                    <div class="p-0">
                                        <p name="cells" class="p-2">{{ line.dni }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-3 celdas">
                                    <h4 class="gris font-weight-bold mb-1"><i class="far fa-exclamation-circle mr-2 celeste fa-lg"></i>Teleprom</h4>
                                    <div contenteditable="true" onkeydown="clickEditableCell()" class="p-1 align-items-center d-flex justify-content-between bg-celeste text-white">
                                        <p name="cells">{{ line.teleprom }}</p><i class="fal fa-pencil-alt ml-auto fa-lg" style="font-size: 1.1rem;"></i>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-3 celdas">
                                    <h4 class="gris font-weight-bold mb-1">Teléfono familiar</h4>
                                    <div contenteditable="true" onkeydown="clickEditableCell()" class="p-1 align-items-center d-flex justify-content-between bg-gris">
                                        <p name="cells">{{ line.tel_fliar }}</p><i class="fal fa-pencil-alt ml-auto fa-lg azul" style="font-size: 1.1rem;"></i>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-4 celdas">
                                    <h4 class="gris font-weight-bold mb-1">Email</h4>
                                    <div contenteditable="true" onkeydown="clickEditableCell()" class="p-1 align-items-center d-flex justify-content-between bg-gris">
                                        <p name="cells">{{ line.email }}</p><i class="fal fa-pencil-alt ml-auto fa-lg azul" style="font-size: 1.1rem;"></i>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-12 mt-lg-1 celdas">
                                    <h4 class="separador-linea gris font-weight-bold mb-1">Dirección</h4>
                                    <p name="cells">{{ line.dir_1 }}</p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="encuadro my-2">
                        <div class="container-fluid encabezado">
                            <div class="row">
                                <div class="col-md-12 d-flex align-items-center">
                                    <img class="icono p-2" src="{{url_for('static', filename='images/svg/rapido.svg')}}" alt="">
                                    <p style="font-size: 1.1rem;" class="pl-4">Información rápida</p>
                                </div>
                            </div>
                        </div>
                        <div class="inner-wrapper p-2">
                            <div class="row">
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="gris font-weight-bold mb-1"><i class="far fa-exclamation-circle mr-1 celeste fa-lg"></i>Prioridad</h4>
                                    <p name="cells" class="p-1 bg-celeste text-white">{{ line.prioridad }}</p>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="gris font-weight-bold mb-1"><i class="far fa-exclamation-circle mr-1 celeste fa-lg"></i>Estado del plan</h4>
                                    <div class="p-1 d-flex justify-content-between bg-celeste text-white">
                                        <p name="cells">{{ line.estado_del_pp }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="gris font-weight-bold mb-1"><i class="far fa-exclamation-circle mr-1 celeste fa-lg"></i>Cuota no pagada</h4>
                                    <div class="p-1 d-flex justify-content-between bg-celeste text-white">
                                        <p name="cells">{{ line.cuota_no_pagada }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-3 celdas">
                                    <h4 class="gris font-weight-bold mb-1"><i class="far fa-exclamation-circle mr-1 celeste fa-lg"></i>Cuotas pagadas de pp activo</h4>
                                    <div class="p-1 d-flex justify-content-between bg-celeste text-white">
                                        <p name="cells">{{ line.cuotas_pagadas_pp_activo }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-3 celdas">
                                    <h4 class="gris font-weight-bold mb-1"><i class="far fa-exclamation-circle mr-1 celeste fa-lg"></i>Saldo cuota no pagada</h4>
                                    <p name="cells" class="p-1 bg-celeste text-white">{{ line.saldo_cuota_aun_no_pago }}</p>
                                </div>
                            </div>
                            <div class="row mt-2">
                                <div class="col-md-12 col-lg-3 celdas">
                                    <h4 class="gris font-weight-bold mb-1"><i class="far fa-exclamation-circle mr-1 celeste fa-lg"></i>Cuotas originales PP activo</h4>
                                    <p name="cells" class="p-1 bg-celeste text-white">{{ line.cuotas_orig_pp_activo }}</p>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="gris font-weight-bold mb-1"><i class="far fa-exclamation-circle mr-1 celeste fa-lg"></i>Cuota original</h4>
                                    <div class="p-1 d-flex justify-content-between bg-celeste text-white">
                                        <p name="cells">{{ line.cuota_original }}</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="encuadro my-2">
                        <div class="container-fluid encabezado">
                            <div class="row">
                                <div class="col-md-12 d-flex align-items-center">
                                    <img class="icono p-2" src="{{url_for('static', filename='images/svg/estado.svg')}}" alt="">
                                    <p style="font-size: 1.1rem;" class="pl-4">Estado de consulta</p>
                                </div>
                            </div>
                        </div>
                        <div class="inner-wrapper p-2">
                            <div class="row">
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="gris font-weight-bold mb-1">Localizado</h4>
                                    <div contenteditable="true" onkeydown="clickEditableCell()" class="p-2 d-flex justify-content-between bg-gris">
                                        <p name="cells">{{ line.localizado }}</p><i class="fal fa-pencil-alt ml-auto fa-lg mt-1 azul" style="font-size: 1.1rem;"></i>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="gris font-weight-bold mb-1 separador-linea">Filtro sugerido</h4>
                                    <div class="d-flex justify-content-between">
                                        <p name="cells">{{ line.filtro_sugerido }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="gris font-weight-bold mb-1 separador-linea">Padrón</h4>
                                    <div class="d-flex justify-content-between">
                                        <p name="cells">{{ line.padron }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas ">
                                    <h4 class="gris font-weight-bold mb-1">Compromiso</h4>
                                    <div contenteditable="true" onkeydown="clickEditableCell()" class="p-2 d-flex justify-content-between bg-gris">
                                        <p name="cells">{{ line.compromiso }}</p><i class="fal fa-pencil-alt ml-auto fa-lg mt-1 azul" style="font-size: 1.1rem;"></i>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="gris font-weight-bold mb-1 separador-linea">STN</h4>
                                    <p name="cells" class="">{{ line.stn }}</p>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas">
                                    <h4 class="gris font-weight-bold mb-1 separador-linea">Última gestión</h4>
                                    <div class="d-flex justify-content-between">
                                        <p name="cells">{{ line.ultima_gestion }}</p>
                                    </div>
                                </div>
                            </div>
                            <div class="row mt-lg-1">
                                <div class="col-md-12 col-lg-2 celdas ">
                                    <h4 class="gris font-weight-bold mb-1">Gestión</h4>
                                    <div contenteditable="true" onkeydown="clickEditableCell()" class="p-2 d-flex justify-content-between bg-gris">
                                        <p name="cells">{{ line.gestion }}</p><i class="fal fa-pencil-alt ml-auto fa-lg mt-1 azul" style="font-size: 1.1rem;"></i>
                                    </div>                                 
                                </div>
                                <div class="col-md-12 col-lg-2 celdas ">
                                    <h4 class="gris font-weight-bold mb-1 separador-linea">Último pago</h4>
                                    <div class="p-2 d-flex justify-content-between">
                                        <p name="cells">{{ line.ultimo_pago }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas ">
                                    <h4 class="gris font-weight-bold mb-1 separador-linea">Total pagado</h4>
                                    <div class="p-2 d-flex justify-content-between">
                                        <p name="cells">{{ line.pagado_total }}</p>
                                    </div>                                                                             
                                </div>
                                <div class="col-md-12 col-lg-2 celdas ">
                                    <h4 class="gris font-weight-bold mb-1 separador-linea">Quita máxima</h4>
                                    <div class="d-flex justify-content-between p-2">
                                        <p name="cells">{{ line.quita_max }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas ">
                                    <h4 class="gris font-weight-bold mb-1 separador-linea">Fecha Última Gestión</h4>
                                    <div class="d-flex justify-content-between p-2 ">
                                        <p name="cells">{{ line.ult_gest }}</p>
                                    </div>
                                </div>
                                <div class="col-md-12 col-lg-2 celdas ">
                                    <h4 class="gris font-weight-bold mb-1">Vencimiento</h4>
                                    <div contenteditable="true" onkeydown="clickEditableCell()" class="p-2 d-flex justify-content-between bg-gris">
                                        <p name="cells">{{ line.vencimiento_acordado }}</p><i class="fal fa-pencil-alt ml-auto fa-lg mt-1 azul" style="font-size: 1.1rem;"></i>
                                    </div>
                                </div>
                            </div> 
                            <div class="row mt-1">
                                <div class="col-md-12 col-lg-2 celdas ">
                                    <h4 class="gris font-weight-bold mb-1">Forma de pago</h4>
                                    <div contenteditable="true" onkeydown="clickEditableCell()" class="p-2 d-flex justify-content-between bg-gris">
                                        <p name="cells">{{ line.forma_de_pago }}</p><i class="fal fa-pencil-alt ml-auto fa-lg mt-1 azul" style="font-size: 1.1rem;"></i>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="encuadro my-2">
                        <div class="container-fluid encabezado">
                            <div class="row">
                                <div class="col-md-12 d-flex align-items-center">
                                    <img class="icono p-2" src="{{url_for('static', filename='images/svg/observaciones.svg')}}" alt="">
                                    <p style="font-size: 1.1rem;" class="pl-4">Observaciones</p>
                                </div>
                            </div>
                        </div>
                        <div class="inner-wrapper p-2">
                            <div class="row mt-1">
                                <div class="col-md-12 col-lg-12 celdas ">                                        
                                    <div contenteditable="true" onkeydown="clickEditableCell()" class="p-2 d-flex justify-content-between bg-gris">
                                        <p name="cells">{{ line.observaciones }}</p><i class="fal fa-pencil-alt ml-auto fa-lg mt-1 azul" style="font-size: 1.1rem;"></i>
                                    </div>
                                </div>
                            </div>                                
                        </div>
                    </div>
    
                </div>
            </div>
        </div>
        <div id="cellSavedInfo" class="row justify-content-center" style="display: none;">
            <div class="col-md-10 text-center">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                     Datos guardados
                    <button type="button"  class="close" aria-label="Close" onclick="hideAlert('cellSavedInfo')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 text-center mt-2">
                <button role="button" class="btn btn-primary boton-guardar" onclick="updateData('{{ line.id }}')">GUARDAR DATOS<i class="fal fa-save ml-3 fa-lg"></i></button>
            </div>
        </div> 
    </div>
</div>
<script>
    var csrf_token = "{{ csrf_token() }}";
    dataCells = document.getElementsByName('cells');
    var cellSaved = true;
    function clickEditableCell(){
        cellSaved = false;
        alertCellNotSaved = document.getElementById('cellNotSavedWarning');
        alertCellNotSaved.style.display = 'flex';
    }
    function beforeExit(e) {
        if(!cellSaved){
            alertCellNotSaved = document.getElementById('cellNotSavedWarning');
            alertCellNotSaved.style.display = 'flex';
            return "exit";
        }
    }
    window.onbeforeunload = beforeExit;

    function updateData(id){
        var date = new Date();
        var day = String(date.getDate());
        var month = String(date.getMonth() + 1);
        var fullMonth;
        if (month.length == 1){
            fullMonth = '0' + month;
        }
        else{
            fullMonth = month;
        }
        var fullYear = date.getFullYear();
        var year = String(fullYear).slice(-2);

        curHours = date.getHours();
        curHours = ("0" + curHours).slice(-2);

        curMin = date.getMinutes();
        curMin = ("0" + curMin).slice(-2);

        curSec = date.getSeconds();
        curSec = ("0" + curSec).slice(-2);

        //TODO: Improve access to dataCells without using number for index.
        ajaxBody = [];
        ajaxObj = {};
        ajaxObj.id = id;
        ajaxObj.teleprom = dataCells[7].innerText;
        ajaxObj.localizado = dataCells[18].innerText;
        ajaxObj.tel_fliar = dataCells[8].innerText;
        ajaxObj.email = dataCells[9].innerText;
        // ajaxObj.ultima_gestion = dataCells[10].innerText;
        ajaxObj.compromiso = dataCells[21].innerText;
        ajaxObj.gestion = dataCells[24].innerText;
        ajaxObj.vencimiento_acordado = dataCells[29].innerText;
        ajaxObj.forma_de_pago = dataCells[30].innerText;
        ajaxObj.observaciones = dataCells[31].innerText;
        ajaxObj.ult_gest = day + '/' + fullMonth + '/' + year + " " + curHours + ":" + curMin + ":" + curSec;

        ajaxBody.push(ajaxObj);

        fetch('/guardar_lineas_excel', {
            method: 'POST',
            credentials: "include",
            headers: new Headers({
                'X-CSRFToken': csrf_token,
                'Accept': 'application/json',
                "content-type": "application/json"
            }),
            body: JSON.stringify(ajaxBody)
            }).then(function(response) {
                if(response.ok){
                    alert = document.getElementById('cellSavedInfo');
                    alert.style.display = 'flex';
                    document.getElementById("cellNotSavedWarning").style.display = 'none';
                    cellSaved = true;
                }
            });
    }

    function hideAlert(element){
        alert = document.getElementById(element);
        alert.style.display = 'none';
    }
</script>
{% endblock %}