{% extends "base.html" %}
{% block content %}
<style>
  .imageForm {
      border: 1px solid #ced4da;
      border-radius: .25rem; 
      color: #495057; 
      height: calc(1em + .70rem + 1.5px);
  }
</style>
<div class="container-fluid">
  <article class="h-100">
    <section>
      <div class="row">
        <div class="col-md-5 px-4">
          <h2 class="my-3">Imágenes</h2>
        </div>
      </div>
      <div class="row" id="cardRow">
      {% for image in images %}
        <div class="col-md-4 m-0" id='imageCol{{ loop.index0 }}'>
          <div class="card mb-3">
            <a href="{{ url_for('main.show_image', image_id=image.id) }}">
              <img id="image{{ loop.index0 }}" src="{{url_for('main.serve_image', id=image.id)}}" class="card-img-top" alt="imagen"
              style="max-height: 14em;">
            </a>
            <img id="emptyImage{{ loop.index0 }}" src='{{url_for("static", filename="images/no-image-icon.png")}}' 
            class="card-img-top" alt="imagen" style="display: none;">
            <div id="inputFile{{ loop.index0 }}" class="col my-2 text-center" style="display: none;">
              <div class="input-group">
                <div class="custom-file">
                  <input type="file" class="custom-file-input" id="inputGroupFile04" aria-describedby="inputGroupFileAddon04">
                  <label class="custom-file-label text-left" for="inputGroupFile04">Seleccionar imagen</label>
                </div>
              </div>
            </div>
            <div class="card-body">
              <h5 class="card-title">{{ image.title }}</h5>
              <input id="inputTitle{{ loop.index0 }}" placeholder="Título" type="text" class="imageForm m-0" style="display: none;">
              <p class="card-text">{{ image.description }}</p>
              <input id="inputDesc{{ loop.index0 }}" placeholder="Descripción" type="text" class="imageForm m-0" style="display: none;">
              {% if current_user.is_admin %}
              <div class="row justify-content-end">
                <div class="col-md-1">
                  <a id="editImage{{ loop.index0 }}" onclick="editImage('{{ loop.index0 }}')" style="color: #212529;">
                    <i class="fas fa-pencil-alt"></i>
                  </a>
                  <a id="updateImage{{ loop.index0 }}" onclick="updateImage('{{ loop.index0 }}', '{{ image.id }}')" style="color: #212529; display: none;">
                    <i class="fas fa-download"></i>
                  </a>
                </div>
                <div class="col-md-1 mr-2">
                  <a href="{{url_for('main.remove_image', image_id=image.id)}}" style="color: #212529;">
                    <i class="far fa-trash-alt"></i>
                  </a>
                </div>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
      </div>
        {% if current_user.is_admin %}
        <div class="row">
          <div class="col-md-3">
            <button id="agregarImagen" onclick="addImageCard()" type="button" class="btn btn-primary">Agregar imagen</button>
          </div>
        </div>
        {% endif %}
    </section>
  </article>
</div>
<script>
  var csrf_token = "{{ csrf_token() }}";
  var file;

  var addImgButton = document.getElementById('agregarImagen');
  var newCol = document.createElement('div');
  newCol.classList.add('col-md-4', 'm-0');

  var card = document.createElement('div');
  card.classList.add('card', 'mb-3');

  image = document.createElement('img');
  image.classList.add('card-img-top');
  image.setAttribute('src', '{{url_for("static", filename="images/no-image-icon.png")}}');
  image.setAttribute('alt', 'imagen');
  image.setAttribute('id', 'newImage');

  var pickImage = document.createElement('div');
  pickImage.classList.add('row')
  pickImage.innerHTML = '<div class="col my-2 text-center">' +
                          '<div class="input-group">' + 
                            '<div class="custom-file">' +
                              '<input type="file" class="custom-file-input" id="createdInputGroupFile04" aria-describedby="inputGroupFileAddon04">' +
                              '<label class="custom-file-label text-left" for="createdInputGroupFile04">Seleccionar imagen</label>' +
                            '</div>' +
                          '</div>' + 
                        '</div>';

  cardBody = document.createElement('div');
  cardBody.classList.add('card-body');
  var h5 = document.createElement('h5');
  h5.classList.add('card-title');
  h5.setAttribute('id', 'cardTitle');
  h5.setAttribute("contenteditable", "true")
  h5.innerText = 'Título';

  var descPar = document.createElement('p');
  descPar.classList.add('card-text');
  descPar.setAttribute('id', 'cardText');
  descPar.setAttribute("contenteditable", "true");
  descPar.innerText = 'Descripción';

  var iconsRow = document.createElement('div');
  iconsRow.classList.add('row', 'justify-content-end');
  iconsRow.innerHTML = '<div class="col-md-1">' +
                        '<i class="fas fa-download" onclick="uploadImage()"></i>' +
                        '</div>' +
                        '<div class="col-md-1 mr-2">' +
                        '<i class="far fa-trash-alt" onclick="deleteImage()"></i>' +
                      '</div>';

  cardBody.appendChild(h5);
  cardBody.appendChild(descPar);
  cardBody.appendChild(iconsRow);

  card.appendChild(image);
  card.appendChild(pickImage);
  card.appendChild(cardBody);

  newCol.appendChild(card);


  function addImageCard(){
    cardRow.appendChild(newCol);
    var inputFile = document.getElementById('createdInputGroupFile04');
    inputFile.addEventListener('change', function() {
        if (this.files && this.files[0]) {
          file = this.files[0];
          var img = document.getElementById('newImage');
          img.src = URL.createObjectURL(this.files[0]);
        }
    });
  }

  function uploadImage(){
    var cardTitle = document.getElementById('cardTitle');
    var cardText = document.getElementById('cardText');
    const formData = new FormData()
    formData.append('file', file);
    formData.append('title', cardTitle.innerText);
    formData.append('description', cardText.innerText);
    if(file){
            fetch('/subir_imagen', {
            method: 'POST',
            credentials: "include",
            headers: new Headers({
                'X-CSRFToken': csrf_token
            }),
            body: formData
            }).then(function(response) {
                if(response.ok){
                    window.location.href = "/imagenes"
                }
            });
            file = null;
        }
  }

  function deleteImage(){
    var cardRow = document.getElementById('cardRow');
    cardRow.removeChild(cardRow.lastChild)
  }

  function editImage(index){
    selectedCol = document.getElementById('imageCol' + index);
    var image = document.getElementById('image' + index);
    var cardTitle = selectedCol.getElementsByClassName('card-title')[0];
    var cardDesc = selectedCol.getElementsByClassName('card-text')[0];
    var emptyImage = document.getElementById('emptyImage' + index);
    var inputFile = document.getElementById('inputFile' + index);
    var cardTitleInput = document.getElementById('inputTitle' + index);
    var cardDescInput = document.getElementById('inputDesc' + index);
    var editImageIcon = document.getElementById('editImage' + index);
    var updateImageIcon = document.getElementById('updateImage' + index);

    cardTitle.style.display = 'none';
    cardDesc.style.display = 'none';
    editImageIcon.style.display = 'none';

    inputFile.style.display = 'block';
    cardTitleInput.style.display = 'block';
    cardTitleInput.value = cardTitle.innerText;
    cardDescInput.style.display = 'block';
    cardDescInput.value = cardDesc.innerText;
    updateImageIcon.style.display = 'block';

    var inputFileImage = inputFile.querySelector('input[type="file"]')
    inputFileImage.addEventListener('change', function() {
      if (this.files && this.files[0]) {
        file = this.files[0];
        image.src = URL.createObjectURL(this.files[0]);
      }
    });
  }

  function updateImage(index, imageId){
    cardTitle = document.getElementById('inputTitle' + index);
    cardDesc = document.getElementById('inputDesc' + index);
    const formData = new FormData()
    if(file){
      formData.append('file', file);
    }
    formData.append('title', cardTitle.value);
    formData.append('description', cardDesc.value);
    fetch('/actualizar_imagen/' + imageId, {
    method: 'POST',
    credentials: "include",
    headers: new Headers({
        'X-CSRFToken': csrf_token
    }),
    body: formData
    }).then(function(response) {
        if(response.ok){
            window.location.href = "/imagenes"
        }
    });
    file = null;
  }
</script>
{% endblock %}