{% extends "base.html" %}
{% block content %}
<article>
    <section class="section swatch-black section-text-shadow section-inner-shadow">
        <div class="background-media" style="background-image: url('static/images/areas.jpg'); background-repeat: no-repeat; background-size: cover; background-attachment: fixed; background-position: 50%;" data-start="background-position:50% 50%"
        data-70-top-bottom="background-position:50% 70%">
        </div>
        <div class="background-overlay grid-overlay-70 "></div>
        <div class="container">
            <div class="row">
                <div class="col-md-12 text-center">
                    <header class="element-tall-top element-normal-bottom condensed" data-start="opacity:1" data-center="opacity:1" data-100-top-bottom="opacity:0">
                        <h1 class="super hairline bordered-normal">Desde <strong>1938</strong> brindando asesoramiento jurídico con el mismo grado de compromiso y seriedad... </h1>
                    </header>
                    <a href="{{url_for('main.antecedentes')}}" class="scroll-to-id btn btn-link btn-lg element-no-top element-normal-bottom">El Estudio</a>
                </div>
            </div>
        </div>
    </section>
    <section id="two" class="section swatch-white">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="portfolio-container element-medium-top element-medium-bottom">
                        <div class="portfolio masonry " data-padding="15" data-col-xs="2" data-col-sm="2" data-col-md="3" data-col-lg="3" data-layout="fitRows">
                            <div class="masonry-item portfolio-item isotope-item" data-menu-order="1" data-title="Áreas Prácticas">
                                <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0s">
                                    
                                        <img src="static/images/imagen_principal.jpg" alt="Áreas Prácticas" class="normalwidth">
                                        <div class="figure-overlay grid-overlay-30">
                                            <div class="figure-overlay-container">
                                                <span class="figure-icon">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><g fill="none"><path d="M50.941 34.953v30.094M65.988 50h-30.093"></path></g></svg>                
                </span>
                                            </div>
                                        </div>

                                    <div class="figure-caption text-center">
                                        <h3 class="figure-caption-title bordered bordered-small bordered-link">
            <a href="{{url_for('main.areas_practicas')}}">
                Áreas Prácticas
            </a>
        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item isotope-item" data-menu-order="2" data-title="Cobranzas">
                                <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0.3s"> <img src="static/images/cobranzas2.jpg" alt="Cobranzas" class="normalwidth">
                                        <div class="figure-overlay grid-overlay-30">
                                            <div class="figure-overlay-container">
                                                <span class="figure-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                                    <g fill="none">
                                                    <path d="M50.941 34.953v30.094M65.988 50h-30.093"></path>
                                                    </g>
                                                </svg>                
                                                </span>
                                            </div>
                                        </div>
                                    
                                    <div class="figure-caption text-center">
                                        <h3 class="figure-caption-title bordered bordered-small bordered-link">
            <a href="{{url_for('main.cobranzas')}}">
                Departamento de Cobranzas
            </a>
        </h3>
                                    </div>
                                </div>
                            </div>
                            <div class="masonry-item portfolio-item isotope-item" data-menu-order="3" data-title="Socios">
                                <div class="figure portfolio-os-animation element-no-top element-no-bottom text-center figcaption-middle normalwidth image-filter-sepia fade-in image-filter-onhover" data-os-animation="fadeIn" data-os-animation-delay="0.6s"> <img src="static/images/socios.jpg" alt="socios" class="normalwidth">
                                        <div class="figure-overlay grid-overlay-30">
                                            <div class="figure-overlay-container">
                                                <span class="figure-icon">
                                                <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100">
                                                    <g fill="none">
                                                    <path d="M50.941 34.953v30.094M65.988 50h-30.093"></path>
                                                    </g>
                                                </svg>                
                                                </span>
                                            </div>
                                        </div>
                                    
                                    <div class="figure-caption text-center">
                                        <h3 class="figure-caption-title bordered bordered-small bordered-link">
            <a href="{{url_for('main.abogados')}}">
                Abogados
            </a>
        </h3>
                                    </div>
                                </div>
                            </div>
                            
                            
                            
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</article>
{% if tel_contacto %}
<div id="draggable_container">
  <div id="whatsapp_logo" class="mr-2" style="max-width: 8em;">
    <div class="row justify-content-center">
      <div class="col text-center">
        <a id="contactLink" data-phone="{{ tel_contacto }}">
          <img style="max-height: 6em;" src="{{url_for('static', filename='images/whatsapp_logo.png')}}" alt="whatsapp_logo">
          <p class="small my-2" style="color: white;">¿Consultas? Whatsapp al {{ tel_contacto }} </p>
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}
 {% endblock %}     
