{% extends "base.html" %}
{% block content %}
<article>
  <section>
    <div class="container-fluid">
        <div class="row justify-content-center">
          <div class="col-md-4">
              <form method="POST" action="/login" class="my-4" novalidate>
                {{ form.hidden_tag() }}
                <div class="form-group">
                  {{ form.user.label }}
                  {% if form.user.errors %}
                  {{ form.user(class="form-control is-invalid", placeholder="Ingrese su DNI") }}
                  {% else %}
                  {{ form.user(class="form-control", placeholder="Ingrese su DNI") }}
                  {% endif %}
                  {% for error in form.user.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                  {% endfor %}
                </div>
                <div class="form-group">
                  {{ form.password.label }}
                  {% if form.password.errors %}
                  {{ form.password(class="form-control is-invalid", placeholder="Ingrese su password") }}
                  {% else %}
                  {{ form.password(class="form-control", placeholder="Ingrese su password") }}
                  {% endif %}
                  {% for error in form.password.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                  {% endfor %}
                </div>
                <div class="form-group">
                  {{ form.phone.label }}
                  {% if form.phone.errors %}
                  {{ form.phone(class="form-control is-invalid", placeholder="Sin el 0 ni el 15, ejemplo 3515076543", aria_describedby="phoneHelp") }}
                  {% else %}
                  {{ form.phone(class="form-control", placeholder="Sin el 0 ni el 15, ejemplo 3515076543", aria_describedby="phoneHelp") }}
                  {% endif %}
                  {% for error in form.phone.errors %}
                  <div class="invalid-feedback">
                    {{ error }}
                  </div>
                  {% endfor %}
                  <small id="phoneHelp" class="form-text text-muted">Nunca compartiremos tu teléfono con nadie.</small>
                </div>
                <div class="form-group form-check">
                  {{ form.remember_me(class="form-check-input") }}
                  {{ form.remember_me.label }}
                </div>
                <div class="row justify-content-center">
                  <div class="col-md-6">
                    {{form.submit(class="btn btn-lg btn-primary btn-block")}}
                  </div>
                </div>
            </form>
          </div>
        </div>
    </div>
  </section>
</article>
{% if tel_contacto %}
<div id="draggable_container">
  <div id="whatsapp_logo" class="mr-2" style="max-width: 8em;">
    <div class="row justify-content-center">
      <div class="col text-center">
        <a id="contactLink" data-phone="{{ tel_contacto }}" style="color: #007bff">
          <img style="max-height: 6em;" src="{{url_for('static', filename='images/whatsapp_logo.png')}}" alt="whatsapp_logo">
          <p class="small my-2">¿Consultas? Whatsapp al {{ tel_contacto }} </p>
        </a>
      </div>
    </div>
  </div>
</div>
{% endif %}
{% endblock %}