{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <article class="h-100">
    <section>
      <div class="row">
        <div class="col-md-5 px-4">
          <h2 class="my-3">Ver imagen</h2>
          <h3 class="m-3">{{ image.title }}</h3>
        </div>
      </div>
        <div class="row">
          {% if image %}
          <div class="col-md-12 m-0" style="overflow: scroll;">
            <span style="font-size: 1.5em; color: lightgray;" onclick="zoomIn()">
              <i class="fas fa-search-plus"></i>
            </span>
            <span style="font-size: 1.5em; color: lightgray;" onclick="zoomOut()">
              <i class="mt-1 fas fa-search-minus"></i>
            </span>
            <img id="imageDisplayed" src="{{url_for('main.serve_image', id=image.id)}}" style="max-width: 100%;">
          </div>
            {% else %}
          <div class="col-md-12 m-2">
            <p>No hay imagen para mostrar</p>            
          </div>
          {% endif %}
        </div>
    </section>
  </article>
</div>
<script>
  function zoomIn(){
    var image = document.getElementById('imageDisplayed');
    if(image.style.maxWidth == '100%'){
      image.style.maxWidth = '180%';
      image.style.width = '180%';
    }
    else if(image.style.maxWidth == '180%'){
      image.style.maxWidth = '360%';
      image.style.width = '360%';
    }
    else if(image.style.maxWidth == '360%'){
      image.style.maxWidth = '720%';
      image.style.width = '720%';
    }
    else if(image.style.maxWidth == '720%'){
      image.style.maxWidth = '1000%';
      image.style.width = '1000%';
    }
  }

  function zoomOut(){
    var image = document.getElementById('imageDisplayed');
    if(image.style.maxWidth == '1000%'){
      image.style.maxWidth = '720%';
      image.style.width = '720%';
    }
    else if(image.style.maxWidth == '720%'){
      image.style.maxWidth = '360%';
      image.style.width = '360%';
    }
    else if(image.style.maxWidth == '360%'){
      image.style.maxWidth = '180%';
      image.style.width = '180%';
    }
    else if(image.style.maxWidth == '180%'){
      image.style.maxWidth = '100%';
      image.style.width = '100%';
    }
  }
</script>
{% endblock %}