{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <article class="h-100">
    <section>
      <div class="row" style="height: 66vh;">
        <div class="col-md-4 px-4">
          <h2 class="my-3">Teléfono de contacto</h2>
          <form method="POST" action="/telcontacto" class="my-4">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.phone.label }}
              {{ form.phone(class="form-control", placeholder="Teléfono actual: "+ show_phone ) }}
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6">
                {{form.submit(class="btn btn-lg btn-primary btn-block")}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </article>
</div>
{% endblock %}