{% extends "base.html" %}
{% block content %}
<article class="h-100">
  <section>
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-5 px-4">
          <h2 class="my-3">Subir archivo excel</h2>
          <form method="POST" action="/subir_excel" class="my-4" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {% if form.excel_file.errors %}
              {{ form.excel_file(class="form-control-file is-invalid border border-secondary") }}
              {% else %}
              {{ form.excel_file(class="form-control-file border border-secondary") }}
              {% endif %}
              {% if date %}
                 <p class="h6 font-italic">Último archivo subido el: {{date}}</p>
              {% endif %}
              {% for error in form.excel_file.errors %}
                <div class="invalid-feedback">
                {{ error }}
                </div>
              {% endfor %}
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6">
                {{form.submit(class="btn btn-lg btn-primary btn-block")}}
              </div>
            </div>

          </form>
        </div>
      </div>
      {% if date %}
      <div class="row"">
        <div class="col-md-5 px-4">
          <h3 class="my-3">Borrar datos del Excel</h3>
            <div class="row justify-content-left">
              <div class="col-md-4">
                <button type="submit" class="btn  btn-primary btn-block" data-toggle="modal" data-target="#deleteModal">Eliminar Datos</button>
              </div>
            </div>
        </div>
      </div>
      {% endif %}
      <!-- Modal -->
          <form method="get" action="/borrar_excel" class="my-4">
            <div class="modal fade" id="deleteModal" tabindex="-1" role="dialog" aria-labelledby="deleteModalTitle" aria-hidden="true">
              <div class="modal-dialog modal-dialog-centered" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="deleteModalTitle">Eliminar datos</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
                  <div class="modal-body">
                    ¿Está seguro que desea eliminar los datos del Excel?
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
                    <button type="submit" class="btn btn-danger">Eliminar Datos</button>
                  </div>
                </div>
              </div>
            </div>
          </form>
    </div>
    </section>
  </article>

{% endblock %}