{% extends "base.html" %}
{% block content %}
<div class="container-fluid">
  <article class="h-100">
    <section>
      <div class="row" style="height: 66vh;">
        <div class="col-md-5 px-4">
          <h2 class="my-3">Subir imagen</h2>
          <form method="POST" action="/subir_imagen" class="my-4" enctype="multipart/form-data">
            {{ form.hidden_tag() }}
            <div class="form-group">
              {{ form.image_file(class="form-control-file border border-secondary") }}
            </div>
            <div class="row justify-content-center">
              <div class="col-md-6">
                {{form.submit(class="btn btn-lg btn-primary btn-block")}}
              </div>
            </div>
          </form>
        </div>
      </div>
    </section>
  </article>
</div>
{% endblock %}