{% extends "base.html" %}

{% block title %}
Users
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 px-4">
            {% if current_user.is_admin == false and current_user.is_super == false %}
                <div class="alert alert-danger" role="alert">
                    Usted necesita privilegios de administrador para acceder a esta información
                </div>
            {% else %}
            <div class="row">
                <div class="col-md-6">
                    <h2 class="my-3">Usuarios</h2>
                </div>
                <div class="col-md-6 text-right mt-2">
                    <div class="row justify-content-end">
                        <div class="col-md-9">
                            <a href="{{url_for('main.reporting')}}" role="button" class="btn btn-primary m-1 ">Exportar a Excel</a>
                            {% if current_user.is_admin %}
                            <button type="button" class="btn btn-primary my-1" onclick="alertOnDelete()">Eliminar todos los usuarios</button>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="table-responsive my-4">
                <table id="usersTable" class="table table-striped table-hover table-sm">
                    <thead>
                        <tr>
                            <th scope="col">Usuario</th>
                            <th scope="col" class="text-center">Rol</th>
                            <th scope="col" class="text-center">Teléfono</th>
                            <th scope="col" class="text-center">Teléfono operador</th>
                            <th scope="col" class="text-center">Usuario servidor</th>
                            <th scope="col" class="text-center">Operador</th>
                            <th scope="col" class="text-center">Situación PP</th>
                            <th scope="col" class="text-center">Fecha Ingreso</th>
                            <th scope="col" class="text-center">Último login</th>
                            {% if current_user.is_admin %}
                            <th scope="col" class="text-center"></th>
                            {% endif %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for user in users.items %}
                            <tr >
                                <th scope="row">{{ user.username }}</th>
                                <td class="text-center">{{ user.role.name }}</td>
                                <td class="text-center">
                                    {% if user.phone %}
                                        {{ user.phone }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if user.op_phone %}
                                        {{ user.op_phone }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if user.server_username %}
                                        {{ user.server_username }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if user.op_name %}
                                        {{ user.op_name }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if user.pp_status %}
                                        {{ user.pp_status }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if user.assignment_date %}
                                        {{ user.assignment_date|format_inverted_date }}
                                    {% endif %}
                                </td>
                                <td class="text-center">
                                    {% if user.last_login %}
                                        {{ user.last_login|format_datetime }}
                                    {% endif %}
                                </td>
                                {% if current_user.is_admin %}
                                <td> 
                                    {% if (current_user.is_admin and not user.is_admin) %}
                                    <a href="/usuarios/remover/{{user.id}}" class="btn btn-default">
                                        <span class="fas fa-trash-alt"></span>
                                    </a>
                                    {% endif %}
                                </td>
                                {% endif %}
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {{ pagination.links }}
        </div>
            {% endif %}   
    </div>
</div>
<script>
    var paginationUl = document.getElementsByTagName("ul")[2];
    paginationUl.style.display = "none";
    paginationUl.classList.add("pagination", "my-0");
    paginationLi = paginationUl.getElementsByTagName('li');
    for(let i=0; i < paginationLi.length; i++){
        paginationLi[i].classList.add("page-item");
    }
    paginationA = paginationUl.getElementsByTagName('a');
    for(let i=0; i < paginationA.length; i++){
        paginationA[i].classList.add("page-link");
    }
    paginationUl.style.display = "flex";

    // var paginationUlBottom = document.getElementsByTagName("ul")[3];
    // paginationUlBottom.style.display = "none";
    // paginationUlBottom.classList.add("pagination", "my-0");
    // paginationLiBottom = paginationUlBottom.getElementsByTagName('li');
    // for(let i=0; i < paginationLiBottom.length; i++){
    //     paginationLiBottom[i].classList.add("page-item");
    // }
    // paginationABottom = paginationUlBottom.getElementsByTagName('a');
    // for(let i=0; i < paginationABottom.length; i++){
    //     paginationABottom[i].classList.add("page-link");
    // }
    // paginationUlBottom.style.display = "flex";
    function alertOnDelete(){
        if (confirm('Usted va a eliminar todos los usuarios de la base de datos. ¿Está seguro?')){
            window.location.href = "{{url_for('main.remove_all_users')}}"
        }
    }
</script>
{% endblock %}