{% extends "base.html" %}
{% block content %}
<style>
  .counter {
    background-color:#f5f5f5;
    padding: 20px 0;
    border-radius: 5px;
}

.count-title {
    font-size: 40px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.count-text {
    font-size: 13px;
    font-weight: normal;
    margin-top: 10px;
    margin-bottom: 0;
    text-align: center;
}

.fa-2x {
    margin: 0 auto;
    float: none;
    display: table;
    color: #4ad1e5;
}
</style>
<div class="container-fluid">
  <article class="h-100">
    <section>
      <div class="row">
        <div class="col-md-4 px-4">
          <h2 class="my-3">Contador de visitas</h2>
        </div>
      </div>
      <div class="row text-center my-3">
        <div class="col-md-5">
          <div class="counter">
            <i class="fa fa-code fa-2x"></i>
            {% if visits %}
            <h2 class="timer count-title count-number">{{ visits }}</h2>
            {% else %}
            <h2 class="timer count-title count-number">0</h2>
            {% endif %}
            <p class="count-text ">Ingresos totales</p>
          </div>
        </div>
        <div class="col-md-5">
          <div class="counter">
            <i class="far fa-handshake fa-2x"></i>
            {% if refinancing_visits %}
            <h2 class="timer count-title count-number">{{ refinancing_visits }}</h2>
            {% else %}
            <h2 class="timer count-title count-number">0</h2>
            {% endif %}
            <p class="count-text ">Refinanciaciones realizadas</p>
          </div>
        </div>
      </div>
    </section>
  </article>
</div>
{% endblock %}