{% extends "base.html" %}

{% block title %}
Users
{% endblock %}

{% block content %}
<style>
#cont::-webkit-scrollbar {
    display: none;
}
</style>
<div class="tables-2">
    <div id="cont" class="container-fluid h-100" style="min-height: 25em; overflow-y: scroll;">
        <div id="cellSavedInfo" class="row justify-content-center" style="display: none;">
            <div class="col-md-10 text-center">
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                     Datos guardados
                    <button type="button"  class="close" aria-label="Close" onclick="hideAlert('cellSavedInfo')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            </div>
        </div>
        <div id="cellNotSavedWarning" class="row justify-content-center" style="display: none;">
            <div class="col-md-10 text-center">
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                     Hay cambios sin guardar
                    <button type="button"  class="close" aria-label="Close" onclick="hideAlert('cellNotSavedWarning')">
                      <span aria-hidden="true">&times;</span>
                    </button>
                  </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-2">
                <h2 class="my-3 font-weight-bold gris-oscuro">Datos de clientes</h2>
                <div class="dropdown-divider w-50 my-3 divisor w-75"></div>
            </div>
            <div class="col-md-10 text-right mt-2">
    
    
    
    
            </div>
        </div>
        <div id="searchForm" class="row my-2" style="display: none;">
            <div class="col-md-3 pr-0">
                <div class="input-group">
                    <input id="searchInput" onkeydown="search(event)" type="text" class="form-control search" aria-label="Recipient's username" aria-describedby="searchbutton">
                    <div class="input-group-append">
                        <button class="btn btn-info-1 mr-3 border-r-0" type="button" id="searchButton" onclick="queryByFilter(event)">Buscar</button>
                    </div>
                </div>
            </div>
            <div class="col-md-1 pl-0 my-auto">
                <button class="fas fa-times" style="background-color: white; color: gray;" onclick="hideInput()"></button>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-6 col-12">
                <a href="{{url_for('main.excel_reporting')}}" role="button" class="btn btn-info-1 border-r-0 mr-lg-3 mr-0"><i class="far fa-file-excel mr-1"></i> Exportar a Excel</a>
    
                <div class="btn-group" style="display: inline-block; position: unset;">
                    <button id="dropdownMenuDisplayButton" type="button" class="btn border-r-0 border-b-1 dropdown-toggle mr-lg-3 mr-0" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                      Display
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuDisplayButton" style="min-width: 15em; max-height: 23em; overflow-y: scroll;">
                        {% for header in headers %}
                            {% if header != 'observaciones' %}
                            <div>
                                <input id="checkbox{{loop.index0}}" data-index="{{loop.index0}}" type="checkbox" checked="true" class="ml-3" style="display: inline;" onclick="checkCols(event)">
                                <a class="dropdown-item small" href="#" style="display: inline;">{{ header }}</a>
                            </div>
                            {% else %}
                            <div>
                                <input id="checkbox{{loop.index0}}" data-index="{{loop.index0}}" type="checkbox" class="ml-3" style="display: inline;" onclick="checkCols(event)">
                                <a class="dropdown-item small" href="#" style="display: inline;">{{ header }}</a>
                            </div>
                        {% endif %}
                        {% endfor %}
                    </div>
                </div>
    
                <a href="{{url_for('main.watch_excel')}}" role="button" class="btn border-r-0 border-b-1 ">Quitar filtros x</a>
            </div>
            <div class="col-lg-6 col-12 text-right">
                <button type="button" role="button" class="btn btn-info-1 border-r-0 m-1" onclick="updateData()"><i class="fal fa-save mr-2 fa-lg"></i> Guardar datos</button>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 p-0">
                <div class="my-1 table-responsive" style="max-height: 26em;">
                    <table id="excelTable" class="table table-bordered table-striped w-auto">
                        <thead>
                            <tr>
                                {% for header in headers %}
                                {% set outer_loop = loop.index0 %}
                                {% if header == 'observaciones' %}
                                <th scope="col" class="text-center" style="min-width: 11em; display: none;">{{header}}
                                    <div class="dropdown m-0 p-0" style="display: inline-block; position: unset;">
                                        <button class="btn dropdown-toggle m-0 p-0 text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu m-0 p-0" aria-labelledby="dropdownMenuButton" style="max-height: 23em; overflow-y: scroll;">
                                        {% for item in filter_names[loop.index0] %}
                                            <a name="filter" data-index="{{ outer_loop }}" data-header="{{ header }}" data-item="{{ item }}" class="dropdown-item small" href="#" onclick="queryByFilter(event)">{{ item }}</a>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <button type="button" data-index="{{ outer_loop }}" data-direction="{{ direction }}" class="fas fa-sort m-0 p-0" style="font-size: 0.8em;" onclick="queryBySort(event)"></button>
                                    <button type="button" class="search-button" data-header="{{ header }}" data-index="{{ outer_loop }}" style="font-size: 0.8em; background: #0A6F73; color: white;" onclick="showSearchInput(event)"><i class="fas fa-search m-0 p-0"></i></button>
                                </th>
                                {% else %}
                                <th scope="col" class="text-center" style="min-width: 9em;">
                                    <button type="button" data-index="{{ outer_loop }}" data-direction="{{ direction }}" class="fas fa-sort m-0 p-0" style="font-size: 0.8em; " onclick="queryBySort(event)"></button>
                                    {{header}}
                                    <div class="dropdown m-0 p-0" style="display: inline-block; position: unset;">
                                        <button class="btn dropdown-toggle m-0 p-0 text-white" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        </button>
                                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton" style="max-height: 23em; overflow-y: scroll;">
                                        {% for item in filter_names[loop.index0] %}
                                            <a name="filter" data-index="{{ outer_loop }}" data-header="{{ header }}" data-item="{{ item }}" class="dropdown-item small" href="#" onclick="queryByFilter(event)">{{ item }}</a>
                                        {% endfor %}
                                        </div>
                                    </div>
                                    <button type="button" class="search-button" data-header="{{ header }}" data-index="{{ outer_loop }}"  style="font-size: 0.8em; background: #0A6F73; color: white;" onclick="showSearchInput(event)"><i class="fas fa-search m-0 p-0"></i></button>
    
                                </th>
                                {% endif %}
                                {% endfor %}
                            </tr>
                        </thead>
                        <tbody>
                            {% for line in lines.items %}
                                <tr data-id="{{ line.id }}">
                                    {% for header in headers %}
                                    {% if header == 'observaciones' %}
                                        <!--TODO: Podría implementarse un atributo a cada elemento (y persistir en BD) para saber si es editable o no en vez de preguntar 'loop.index0 == 6' -->
                                        {% if loop.index0 == 6 or loop.index0 == 7 or loop.index0 == 10  or loop.index0 == 11 or loop.index0 == 28
                                        or loop.index0 == 29 or loop.index0 == 33 or loop.index0 == 35 or loop.index0 == 36 or loop.index0 == 40 %}
                                            <td contenteditable="true" name="columnCell{{loop.index0}}" class="text-center small" style="display: none;" onkeydown="clickEditableCell()">{{ line|attr(header) }}</td>
                                        {% else %}
                                            <td name="columnCell{{loop.index0}}" class="text-center small" style="display: none;">
                                                <a href="{{url_for('main.excel_line', line_id=line.id)}}" target="_blank" style="color: #212529;">{{ line|attr(header) }}</a>
                                            </td>
                                        {% endif %}
                                    {% else %}
                                        {% if loop.index0 == 6 or loop.index0 == 7 or loop.index0 == 10  or loop.index0 == 11 or loop.index0 == 28
                                        or loop.index0 == 29 or loop.index0 == 33 or loop.index0 == 35 or loop.index0 == 36 or loop.index0 == 40 %}
                                            <td contenteditable="true" name="columnCell{{loop.index0}}" class="text-center small" onkeydown="clickEditableCell()">{{ line|attr(header) }}</td>
                                        {% else %}
                                            <td name="columnCell{{loop.index0}}" class="text-center small">
                                                <a href="{{url_for('main.excel_line', line_id=line.id)}}" target="_blank" style="color: #212529;">{{ line|attr(header) }}</a>
                                            </td>
                                        {% endif %}
                                    {% endif %}
                                    {% endfor %}
                                </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        {{ pagination.links }}
    </div>

</div>
<script>

    function search(e) {
        if(event.keyCode == 13) {
            queryByFilter(e);
        }
    }
    var cellSaved = true;
    function clickEditableCell(){
        cellSaved = false;
        alertCellNotSaved = document.getElementById('cellNotSavedWarning');
        alertCellNotSaved.style.display = 'flex';

    }
    function beforeExit(e) {
            if(!cellSaved){
                alertCellNotSaved = document.getElementById('cellNotSavedWarning');
                alertCellNotSaved.style.display = 'flex';
                return "exit";
            }
        }
    window.onbeforeunload = beforeExit;

    var csrf_token = "{{ csrf_token() }}";
    var paginationUl = document.getElementsByTagName("ul")[2];
    if (paginationUl){
        paginationUl.style.display = "none";
        paginationUl.classList.add("pagination", "my-0");
        paginationLi = paginationUl.getElementsByTagName('li');

        for(let i=0; i < paginationLi.length; i++){
            paginationLi[i].classList.add("page-item");
        }
        paginationA = paginationUl.getElementsByTagName('a');
        for(let i=0; i < paginationA.length; i++){
            paginationA[i].classList.add("page-link");
        }
        paginationUl.style.display = "flex";
    }

    excelTable = document.getElementById('excelTable');
    headers = excelTable.getElementsByTagName('th');
    headers[4].setAttribute('style', 'min-width: 10em');
    headers[5].setAttribute('style', 'min-width: 11em');
    headers[6].setAttribute('style', 'min-width: 12em');
    headers[7].setAttribute('style', 'min-width: 10em');
    headers[8].setAttribute('style', 'min-width: 13em');
    headers[10].setAttribute('style', 'min-width: 12em');
    headers[11].setAttribute('style', 'min-width: 15em');
    headers[12].setAttribute('style', 'min-width: 13em');
    headers[13].setAttribute('style', 'min-width: 11em');
    headers[14].setAttribute('style', 'min-width: 17em');
    headers[15].setAttribute('style', 'min-width: 17em');
    headers[16].setAttribute('style', 'min-width: 15em');
    headers[17].setAttribute('style', 'min-width: 11em');
    headers[18].setAttribute('style', 'min-width: 10em');
    headers[19].setAttribute('style', 'min-width: 10em');
    headers[20].setAttribute('style', 'min-width: 10em');
    headers[23].setAttribute('style', 'min-width: 35em');
    headers[25].setAttribute('style', 'min-width: 10em');
    headers[34].setAttribute('style', 'min-width: 10em');
    headers[37].setAttribute('style', 'min-width: 10em');
    headers[38].setAttribute('style', 'min-width: 30em');

    tableRows = excelTable.getElementsByTagName('tr');

    tableCells = excelTable.getElementsByTagName('td');
    for(let tc=0; tc < tableCells.length; tc++){
        switch(tableCells[tc].innerText){
            case '1 - URGENTE': tableCells[tc].classList.add("rojo");
            break;
            case '2 - Muy Alta': tableCells[tc].classList.add("naranja");
            break;
            case '3 - Alta': tableCells[tc].classList.add("verde-oscuro");
            break;
            case '5 - Media': tableCells[tc].classList.add("verde");
            break;
            case '6 - Baja': tableCells[tc].classList.add("verde-claro");
            break;
            case 'Atrasado': tableCells[tc].classList.add("rojo");
            break;
            case 'PLAN CAIDO': tableCells[tc].classList.add("rojo");
            break;
            case 'Localizado Sin Plan': tableCells[tc].classList.add("verde");
            break;
            case 'Al día': tableCells[tc].classList.add("verde");
            break;
            case 'COBRABLE': tableCells[tc].classList.add("verde");
            break;
            case 'MEDIO-COBRABLE': tableCells[tc].classList.add("naranja");
            break;
            case 'POCO-COBRABLE': tableCells[tc].classList.add("rojo");
            break;
            case 'Localizado': tableCells[tc].classList.add("verde");
            break;
            case 'No localizado': tableCells[tc].classList.add("rojo");
            break;

        }
    }
    function checkCols(e){
        var index = e.target.getAttribute('data-index');
        var checkbox = document.getElementById('checkbox' + index);
        var columnCell = document.getElementsByName('columnCell' + index);
        if(checkbox.checked){
            headers[index].style.display =  'table-cell';
            //29 es la columna de Observaciones
            if (index == 29){
                headers[index].style.minWidth = "50em";
            }
            for(let i=0; i < columnCell.length; i++){
                columnCell[i].style.display = 'table-cell';
            }
        }
        else{
            headers[index].style.display =  'none';
            for(let i=0; i < columnCell.length; i++){
                columnCell[i].style.display = 'none';
            }
        }
    }

    function updateData(){
        ajaxBody = [];

        for(let i=0; i<tableRows.length; i++){
            if(i > 0){
                ajaxObject = {};
                ajaxObject.id = tableRows[i].getAttribute('data-id');
                ajaxObject.ultima_gestion = tableRows[i].children[6].innerText;
                ajaxObject.compromiso = tableRows[i].children[7].innerText;
                ajaxObject.forma_de_pago = tableRows[i].children[10].innerText;
                ajaxObject.vencimiento_acordado = tableRows[i].children[11].innerText;
                ajaxObject.gestion = tableRows[i].children[28].innerText;
                ajaxObject.observaciones = tableRows[i].children[29].innerText;
                ajaxObject.localizado = tableRows[i].children[33].innerText;
                ajaxObject.teleprom = tableRows[i].children[35].innerText;
                ajaxObject.tel_fliar = tableRows[i].children[36].innerText;
                ajaxObject.email = tableRows[i].children[40].innerText;
                ajaxBody.push(ajaxObject);
            }
        }
        fetch('/guardar_lineas_excel', {
            method: 'POST',
            credentials: "include",
            headers: new Headers({
                'X-CSRFToken': csrf_token,
                'Accept': 'application/json',
                "content-type": "application/json"
            }),
            body: JSON.stringify(ajaxBody)
            }).then(function(response) {
                if(response.ok){
                    alert = document.getElementById('cellSavedInfo');
                    alert.style.display = 'flex';
                    document.getElementById("cellNotSavedWarning").style.display = 'none';
                    cellSaved = true;
                }
            });
    }

    function hideAlert(element){
        alert = document.getElementById(element);
        alert.style.display = 'none';
    }
    function queryByFilter(e){
        var id = e.target.getAttribute('id');
        var index = e.target.getAttribute('data-index');
        var field = e.target.getAttribute('data-header');
        if(id === 'searchButton' || id === 'searchInput'){
            var input = document.getElementById('searchInput');
            var value = input.value;
        }
        else{
            var value = e.target.getAttribute('data-item');
        }

        var tempHref = window.location.href;
        if(!tempHref.includes('?') ){
            tempHref += '?field' + index + '=' + field + '&value' + index + '=' + value;
        }
        else{
            tempHref += '&field' + index + '=' + field + '&value' + index + '=' + value;
        }
        if(!tempHref.includes('query=filter') ){
            tempHref += '&query=filter';
        }

        if(tempHref.includes('page') ){
            startIndex = tempHref.indexOf('page');
            endIndex = tempHref.indexOf('&', startIndex);
            if(endIndex == -1){
                tempHref = tempHref.replace(tempHref.substring(startIndex, tempHref.length), 'page=1');
            }
            else {
                tempHref = tempHref.replace(tempHref.substring(startIndex, endIndex), 'page=1');
            }
        }
        cellSaved = true;
        window.location.href = tempHref;
    }

    function queryBySort(e){
        var direction = e.target.getAttribute('data-direction');
        var index = e.target.getAttribute('data-index');
        var tempHref = window.location.href;
        if(!tempHref.includes('?') ){
            tempHref += '?orderBy=' + index + '&direction=' + direction;
        }
        else{
            if(tempHref.includes('orderBy') ){
                startIndex = tempHref.indexOf('orderBy');
                endIndex = tempHref.indexOf('&', startIndex);
                if(endIndex == -1){
                    tempHref = tempHref.replace(tempHref.substring(startIndex, tempHref.length), 'orderBy=' + index);
                }
                else {
                    tempHref = tempHref.replace(tempHref.substring(startIndex, endIndex), 'orderBy=' + index);
                }
            }
            else{
                tempHref += '&orderBy=' + index;
            }
            if(tempHref.includes('direction') ){
                startIndex = tempHref.indexOf('direction');
                endIndex = tempHref.indexOf('&', startIndex);
                if(endIndex == -1){
                    tempHref = tempHref.replace(tempHref.substring(startIndex, tempHref.length), 'direction=' + direction);
                }
                else {
                    tempHref = tempHref.replace(tempHref.substring(startIndex, endIndex), 'direction=' + direction);
                }
            }
            else{
                tempHref += '&direction=' + direction;
            }
        }
        window.location.href = tempHref;
    }

    function showSearchInput(e){
        var index = e.target.getAttribute('data-index');
        var field = e.target.getAttribute('data-header');
        var searchForm = document.getElementById('searchForm');
        searchForm.style.display='flex';
        
        var searchInput = document.getElementById('searchInput');
        searchInput.setAttribute('placeholder', field);
        searchInput.setAttribute('data-index', index);
        searchInput.setAttribute('data-header', field);

        var searchButton = document.getElementById('searchButton');
        searchButton.setAttribute('data-index', index);
        searchButton.setAttribute('data-header', field);
    }

    function hideInput(){
        var searchForm = document.getElementById('searchForm');
        searchForm.style.display = 'none';
    }
</script>
{% endblock %}